<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-create-edit-management.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h4>изменить artist</h4>
    </header>
    <div class="table-body">
        <article class="table-body-item">
            <form class="form"
                  th:action="${'/management/artist/edit/' + artist.slug}"
                  th:method="put" `
                  th:object="${artist}">

                <section class="form-item">
                    <label>nickname</label>
                    <input type="text" th:field="*{nickName}" maxlength="255"/>
                </section>
                <p class="error" th:if="${#fields.hasErrors('nickName')}" th:errorclass="error"
                   th:errors="*{nickName}"></p>

                <section class="form-item">
                    <label>slug</label>
                    <input type="text" th:field="*{slug}" maxlength="255"/>
                </section>
                <p class="error" th:if="${#fields.hasErrors('slug')}" th:errorclass="error"
                   th:errors="*{slug}"></p>
                <p class="error" th:if="${not #strings.isEmpty('slug')}" th:text="${slug}"></p>

                <section class="form-item">
                    <label>first name</label>
                    <input type="text" th:field="*{firstName}" maxlength="255"/>
                </section>

                <section class="form-item">
                    <label>last name</label>
                    <input type="text" th:field="*{lastName}" maxlength="255"/>
                </section>

                <section class="form-item">
                    <label>gender</label>
                    <select th:field="*{gender}">
                        <option th:value="null" selected>выбрать гендер</option>
                        <option th:each="gender : ${genderList}"
                                th:value="${gender}"
                                th:text="${gender.label}">0
                        </option>
                    </select>
                </section>

                <section class="form-item">
                    <label>born</label>
                    <input type="number" th:field="*{born}"/>
                </section>

                <section class="form-item">
                    <label>died</label>
                    <input type="number" th:field="*{died}"/>
                </section>

                <section class="form-item">
                    <label>birthday</label>
                    <input type="date" th:field="*{birthDate}"/>
                </section>

                <section class="form-item">
                    <label>deathday</label>
                    <input type="date" th:field="*{deathDate}"/>
                </section>

                <section class="form-item">
                    <label>approximate years</label>
                    <input type="text" th:field="*{approximateYears}" maxlength="255"/>
                </section>

                <section class="form-item">
                    <label>birthplace</label>
                    <input type="text" th:field="*{birthplace}" maxlength="255"/>
                </section>

                <section class="form-item">
                    <label>occupation</label>
                    <input type="text" th:field="*{occupation}" maxlength="255"/>
                </section>

                <input class="input-submit" type="submit" value="Обновить"/>
            </form>
        </article>

        <header class="table-title">
            <h4>изменить image</h4>
        </header>
        <article class="table-body-item">
            <form class="form"
                  th:action="${'/management/artist/edit/' + artist.slug + '/image/upload'}"
                  th:method="post"
                  enctype="multipart/form-data">

                <section class="form-item">
                    <label>image</label>
                    <input type="file" name="file" accept="image/*">
                </section>

                <button class="input-submit" type="submit">Загрузить</button>
            </form>

            <section class="entity-image">
                <img alt="" th:src="|data:image;base64,${artist.image}|">
            </section>

            <form class="form"
                  th:action="${'/management/artist/edit/' + artist.slug + '/image/delete'}"
                  th:method="delete">
                <input class="input-submit" type="submit" value="Удалить">
            </form>
        </article>

        <header class="table-title">
            <h4>архив events</h4>
            <a target="_blank"
               th:href="${'/management/artist/edit/' + artist.slug + '/event/create'}">создать
                event</a>
        </header>
        <article class="table-body-item">
            <table>
                <thead>
                <tr>
                    <th>created</th>
                    <th>year</th>
                    <th>description</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="personEvent : ${artist.events}">
                    <th th:text="${personEvent.created}"></th>
                    <th th:text="${personEvent.year}"></th>
                    <th th:text="${personEvent.description}"></th>
                    <th class="td-settings">
                        <a target="_blank"
                           th:href="${'/management/artist/edit/' + artist.slug + '/event/edit/' + personEvent.id}">edit</a>
                    </th>
                    <th class="td-settings">
                        <form th:action="${'/management/artist/edit/' + artist.slug + '/event/delete/' + personEvent.id}"
                              th:method="delete">
                            <input type="submit" value="delete"
                                   th:data-confirm-delete="|Are you sure you want to delete this event?|"
                                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                        </form>
                    </th>
                </tr>
                </tbody>
            </table>
        </article>

        <header class="table-title">
            <h4>архив paintings</h4>
            <a target="_blank"
               th:href="${'/management/artist/edit/' + artist.slug + '/painting/create'}">создать painting</a>
        </header>
        <article class="table-body-item">
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>created</th>
                    <th>title</th>
                    <th>year1</th>
                    <th>year2</th>
                    <th>approximate years</th>
                    <th>based</th>
                    <th>PTR</th>
                    <th>ATTR</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="painting : ${artist.paintingList}">
                    <th th:text="${artist.paintingList.size - paintingStat.index}"></th>
                    <td th:text="${painting.created}"></td>
                    <td th:text="${painting.title}"></td>
                    <td th:text="${painting.year1}"></td>
                    <td th:text="${painting.year2}"></td>
                    <td th:text="${painting.approximateYears}"></td>
                    <td th:text="${painting.based}"></td>
                    <td th:text="${painting.artistTopRank}"></td>
                    <td th:text="${painting.allTimeTopRank}"></td>
                    <td class="td-settings">
                        <a target="_blank"
                           th:href="${'/management/artist/edit/' + artist.slug + '/painting/edit/' + painting.slug}">edit</a>
                    </td>
                    <td class="td-settings">
                        <form th:action="${'/management/artist/edit/' + artist.slug + '/painting/delete/' + painting.slug}"
                              th:method="delete">
                            <input type="submit" value="delete"
                                   th:data-confirm-delete="|Are you sure you want to delete this painting?|"
                                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>