<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-all-management.css}" rel="stylesheet">
</head>
<body class="body-archive">

<header th:insert="~{fragments/header.html}"></header>

<main class="table">

    <header class="table-title">
        <h4>архив artist</h4>
        <a target="_blank" href="/management/artist/create">создать artist</a>
    </header>

    <div class="table-body">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>created</th>
                <th>nick name</th>
                <th>slug</th>
                <th>gender</th>
                <th>born</th>
                <th>died</th>
                <th>birth date</th>
                <th>death date</th>
                <th>approximate years</th>
                <th>birthplace</th>
                <th>occupation</th>
                <th>notification</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artist : ${artistList}">
                <th th:text="${artistList.size - artistStat.index}"></th>
                <td th:text="${artist.created}"></td>
                <td th:text="${artist.nickName}"></td>
                <td th:text="${artist.slug}"></td>
                <td th:text="${artist.gender}"></td>
                <td th:text="${artist.born}"></td>
                <td th:text="${artist.died}"></td>
                <td th:text="${artist.birthDate}"></td>
                <td th:text="${artist.deathDate}"></td>
                <th th:text="${artist.approximateYears}"></th>
                <td th:text="${artist.birthplace}"></td>
                <td th:text="${artist.occupation}"></td>
                <td th:text="${artist.dateNotification}"></td>
                <td class="td-settings">
                    <a target="_blank"
                       th:href="${'/management/artist/edit/' + artist.slug}">edit</a>
                </td>
                <td class="td-settings">
                    <form th:action="${'/management/artist/delete/' + artist.slug}"
                          th:method="delete">
                        <input type="submit" value="delete"
                               th:data-confirm-delete="|Are you sure you want to delete this artist?|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<footer th:insert="~{fragments/footer.html}"></footer>

</body>
</html>