<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/security/login-signup.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h4>авторизация</h4>
    </header>

    <div class="table-body">
        <form class="form" th:action="@{/login}" th:method="post">
            <section class="form-item">
                <input type="text" name="username">
            </section>

            <section class="form-item">
                <input type="password" name="password">
            </section>

            <input class="input-submit" type="submit" value="Войти"/>
        </form>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>