<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-create-edit-management.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h4>создать album</h4>
        </div>

        <div class="table-body">
            <div class="table-body-item">
                <form class="form"
                      th:action="${'/management/musician/edit/' + albumCreateEditDTO.musicianSlug + '/album/create'}"
                      th:method="post"
                      th:object="${albumCreateEditDTO}">

                    <div class="form-item">
                        <label>title</label>
                        <input type="text" th:field="*{title}" maxlength="255"/>
                    </div>
                    <p class="error" th:if="${#fields.hasErrors('title')}" th:errorclass="error"
                       th:errors="*{title}"></p>

                    <div class="form-item">
                        <label>slug</label>
                        <input type="text" th:field="*{slug}" maxlength="255"/>
                    </div>
                    <p class="error" th:if="${#fields.hasErrors('slug')}" th:errorclass="error" th:errors="*{slug}"></p>

                    <div class="form-item">
                        <label>catalog_number</label>
                        <input type="text" th:field="*{catalogNumber}" maxlength="255"/>
                    </div>

                    <div class="form-item">
                        <label>musician</label>
                        <input disabled type="text" th:field="*{musicianNickname}"/>
                    </div>

                    <div class="form-item">
                        <label>feature</label>
                        <input type="text" th:field="*{feature}" maxlength="255"/>
                    </div>

                    <div class="form-item">
                        <label>year</label>
                        <input type="number" th:field="*{year}"/>
                    </div>

                    <div class="form-item">
                        <label>period</label>
                        <select th:field="*{musicPeriods}">
                            <option th:value="null" selected>выбрать период</option>
                            <option th:each="period : ${musicPeriods}"
                                    th:value="${period.id}"
                                    th:text="${period.title}">
                            </option>
                        </select>
                    </div>

                    <div class="form-item major-field">
                        <label>classical_genres</label>
                        <select th:field="*{classicalGenres}" multiple="multiple">
                            <option th:each="genre : ${classicalGenres}"
                                    th:value="${genre.id}"
                                    th:text="${genre.title}">
                            </option>
                        </select>
                    </div>

                    <div class="form-item major-field">
                        <label>contemporary_genres</label>
                        <select th:field="*{contemporaryGenres}" multiple="multiple">
                            <option th:each="genre : ${contemporaryGenres}"
                                    th:value="${genre.id}"
                                    th:text="${genre.title}">
                            </option>
                        </select>
                    </div>

                    <div class="form-item">
                        <label>rating</label>
                        <input type="number" step="0.5" th:field="*{rating}"/>
                    </div>

                    <div class="form-item">
                        <label>year_end_rank</label>
                        <input type="number" th:field="*{yearEndRank}"/>
                    </div>

                    <div class="form-item">
                        <label>essential_albums_rank</label>
                        <input type="number" th:field="*{essentialAlbumsRank}"/>
                    </div>

                    <div class="form-item major-field">
                        <label>highlights</label>
                        <textarea th:field="*{highlights}"></textarea>
                    </div>

                    <div class="form-item major-field">
                        <label>description</label>
                        <textarea th:field="*{description}"></textarea>
                    </div>

                    <input class="input-submit" type="submit" value="Создать"/>
                </form>
            </div>
        </div>

    </div>

    <div th:insert="fragments/footer.html"></div>

</div>
</body>
</html>