<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div>
        <h3>управление database</h3>
    </div>

    <div class="table">
        <div class="table-item">
            <a href="/management/musician/all">Музыканты</a>
            <br>
            <a href="/management/album/all">Альбомы</a>
            <br>
            <a href="/management/composition/all">Произведения</a>
            <br>
            <a href="/management/sotylist/all">Годовые списки</a>
        </div>

        <br>

        <div class="table-item">
            <a href="/management/recipe/all">Рецепты</a>
        </div>
    </div>

</div>
</body>
</html>