<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-create-edit-management.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h4>создать event</h4>
        </div>

        <div class="table-body">
            <div class="table-body-item">
                <form class="form" th:action="${'/management/musician/edit/' + slug +'/event/create'}" th:method="post"
                      th:object="${eventDTO}">
                    <div class="form-item">
                        <label>year</label>
                        <input type="number" th:field="*{year}"/>
                    </div>
                    <p class="error" th:if="${#fields.hasErrors('year')}" th:errorclass="error" th:errors="*{year}"></p>

                    <div class="form-item">
                        <label>date</label>
                        <input type="date" th:field="*{date}"/>
                    </div>

                    <div class="form-item major-field">
                        <label>description</label>
                        <input type="text" th:field="*{description}"/>
                    </div>
                    <p class="error" th:if="${#fields.hasErrors('description')}" th:errorclass="error" th:errors="*{description}"></p>

                    <input class="input-submit" type="submit" value="Создать"/>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>