<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/archive-management.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h4>управление database</h4>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <h3>Статистика</h3>
            <span>музыканты: <span th:text="${musicianCount}"></span></span>
            <span>альбомы: <span th:text="${albumCount}"></span></span>
            <span>композиции: <span th:text="${compositionCount}"></span></span>
        </article>

        <article class="table-body-item">
            <h3>Музыка</h3>
            <a href="/management/musician/all">Музыканты</a>
            <a href="/management/album/all">Альбомы</a>
            <a href="/management/composition/all">Произведения</a>
            <a href="/management/year-in-music/all">Итоги года</a>
            <a href="/management/music-period/all">Периоды</a>
            <a href="/management/music-genre/all">Жанры</a>
            <a href="/management/timeline-of-music/event/all">Краткая история музыки</a>
        </article>

        <article class="table-body-item">
            <h3>Гастрономия</h3>
            <a href="/management/recipe/all">Рецепты</a>
            <a href="/management/cocktail/all">Коктейли</a>
        </article>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>