<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-all-management.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h4>архив musician</h4>
            <a target="_blank" href="/management/musician/create">создать musician</a>
        </div>

        <div class="table-body">
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>created</th>
                    <th>nick_name</th>
                    <th>slug</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>born</th>
                    <th>died</th>
                    <th>birth_date</th>
                    <th>death_date</th>
                    <th>period</th>
                    <th>academic_genres</th>
                    <th>contemporary_genres</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="musician : ${musicianViewDTOList}">
                    <th th:text="${musicianStat.index + 1}"></th>
                    <td th:text="${musician.created}"></td>
                    <td th:text="${musician.nickName}"></td>
                    <td th:text="${musician.slug}"></td>
                    <td th:text="${musician.firstName}"></td>
                    <td th:text="${musician.lastName}"></td>
                    <td th:text="${musician.born}"></td>
                    <td th:text="${musician.died}"></td>
                    <td th:text="${musician.birthDate}"></td>
                    <td th:text="${musician.deathDate}"></td>

                    <td th:if="${musician.period != null}" th:text="${musician.period.label}"></td>
                    <td th:if="${musician.period == null}" th:text="period"></td>

                    <td th:if="${musician.academicGenres != null}">
                        <span th:each="academicGenre : ${musician.academicGenres}">
                            <p th:text="${academicGenre.label}"></p>
                        </span>
                    </td>
                    <td th:if="${musician.contemporaryGenres != null}">
                        <span th:each="contemporaryGenre : ${musician.contemporaryGenres}">
                            <p th:text="${contemporaryGenre.label}"></p>
                        </span>
                    </td>

                    <td class="td-settings">
                        <a target="_blank" th:href="${'/management/musician/edit/' + musician.slug}">edit</a>
                    </td>
                    <td class="td-settings">
                        <form th:action="${'/management/musician/delete/' + musician.slug}" th:method="delete">
                            <input type="submit" value="delete">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div th:insert="fragments/footer.html"></div>

</div>
</body>
</html>