<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div>
        <h3>архив musician</h3>
        <a href="/management/musician/create">создание musician</a>
    </div>

    <div class="table">
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>slug</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>nickName</th>
                <th>born</th>
                <th>died</th>
                <th>birthDate</th>
                <th>deathDate</th>
                <th>period</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="musician : ${musicians}">
                <th th:text="${musician.id}"></th>
                <th th:text="${musician.slug}"></th>
                <th th:text="${musician.firstName}"></th>
                <th th:text="${musician.lastName}"></th>
                <th th:text="${musician.nickName}"></th>
                <th th:text="${musician.born}"></th>
                <th th:text="${musician.died}"></th>
                <th th:text="${musician.birthDate}"></th>
                <th th:text="${musician.deathDate}"></th>
                <th th:if="${musician.period != null}" th:text="${musician.period.label}"></th>

                <th>
                    <a th:href="${'/management/musician/edit/' + musician.slug}">редактировать</a>
                </th>
                <th>
                    <form th:action="${'/management/musician/delete/' + musician.slug}" th:method="delete">
                        <input type="submit" value="удалить">
                    </form>
                </th>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>