<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-create-edit-management.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h4>изменить musician</h4>
        </div>
        <div class="table-body">
            <form class="form" th:action="${'/management/musician/edit/' + musicianCreateEditDTO.slug}" th:method="put"
                  th:object="${musicianCreateEditDTO}">
                <div class="form-item">
                    <label>nickname</label>
                    <input type="text" th:field="*{nickName}"/>
                </div>
                <div class="form-item">
                    <label>slug</label>
                    <input type="text" th:field="*{slug}"/>
                </div>
                <div class="form-item">
                    <label>first name</label>
                    <input type="text" th:field="*{firstName}"/>
                </div>
                <div class="form-item">
                    <label>last name</label>
                    <input type="text" th:field="*{lastName}"/>
                </div>
                <div class="form-item">
                    <label>born</label>
                    <input type="number" th:field="*{born}"/>
                </div>
                <div class="form-item">
                    <label>died</label>
                    <input type="number" th:field="*{died}"/>
                </div>
                <div class="form-item">
                    <label>birthday</label>
                    <input type="date" th:field="*{birthDate}"/>
                </div>
                <div class="form-item">
                    <label>deathday</label>
                    <input type="date" th:field="*{deathDate}"/>
                </div>
                <div class="form-item">
                    <label>period</label>
                    <select th:field="*{period}">
                        <option th:value="null" selected>выбрать период</option>
                        <option th:each="period : ${periods}" th:value="${period}" th:text="${period.label}"></option>
                    </select>
                </div>
                <div class="form-item major-field">
                    <label>academic_genres</label>
                    <select th:field="*{academicGenres}" multiple="multiple">
                        <option th:each="academicGenre : ${academicGenres}" th:value="${academicGenre}"
                                th:text="${academicGenre.label}"></option>
                    </select>
                </div>
                <div class="form-item major-field">
                    <label>contemporary_genres</label>
                    <select th:field="*{contemporaryGenres}" multiple="multiple">
                        <option th:each="contemporaryGenre : ${contemporaryGenres}" th:value="${contemporaryGenre}"
                                th:text="${contemporaryGenre.label}"></option>
                    </select>
                </div>
                <div class="form-item">
                    <label>spotify_link</label>
                    <input type="text" th:field="*{spotifyLink}"/>
                </div>
                <input class="input-submit" type="submit" value="Обновить"/>
            </form>

            <div class="table-title">
                <h4>изменить image</h4>
            </div>
            <form class="form entity-image" method="post"
                  th:action="${'/management/musician/edit/' + musicianCreateEditDTO.slug + '/upload'}"
                  enctype="multipart/form-data">
                <div class="form-item">
                    <label>image</label>
                    <input type="file" name="file">
                </div>
                <button class="input-submit" type="submit">Загрузить</button>
            </form>

            <div class="table-title">
                <h4>архив events</h4>
                <a th:href="${'/management/musician/edit/' + musicianCreateEditDTO.slug + '/event/create'}">создать
                    event</a>
            </div>
            <div class="table-body-item">
                <table>
                    <thead>
                    <tr>
                        <th>created</th>
                        <th>year</th>
                        <th>date</th>
                        <th>description</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event : ${musicianCreateEditDTO.events}">
                        <th th:text="${event.created}"></th>
                        <th th:text="${event.year}"></th>
                        <th th:text="${event.date}"></th>
                        <th th:text="${event.description}"></th>
                        <th>
                            <a th:href="${'/management/musician/edit/' + musicianCreateEditDTO.slug + '/event/edit/' + event.id}">edit</a>
                        </th>
                        <th>
                            <form th:action="${'/management/musician/edit/' + musicianCreateEditDTO.slug + '/event/delete/' + event.id}"
                                  th:method="delete">
                                <input type="submit" value="delete">
                            </form>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-title">
                <h4>архив albums</h4>
                <a th:href="${'/management/musician/edit/' + musicianCreateEditDTO.slug + '/album/create'}">создать
                    album</a>
            </div>
            <div class="table-body-item">
                <table>
                    <thead>
                    <tr>
                        <th>created</th>
                        <th>year</th>
                        <th>catalog_number</th>
                        <th>title</th>
                        <th>rating</th>
                        <th>year_end_rank</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="album : ${musicianCreateEditDTO.albums}">
                        <th th:text="${album.created}"></th>
                        <th th:text="${album.year}"></th>
                        <th th:text="${album.catalogNumber}"></th>
                        <th th:text="${album.title}"></th>
                        <th th:text="${album.rating}"></th>
                        <th th:text="${album.yearEndRank}"></th>
                        <th>
                            <a th:href="${'/management/musician/edit/' + musicianCreateEditDTO.slug + '/album/edit/' + album.slug}">edit</a>
                        </th>
                        <th>
                            <form th:action="${'/management/musician/edit/' + musicianCreateEditDTO.slug + '/album/delete/' + album.slug}"
                                  th:method="delete">
                                <input type="submit" value="delete">
                            </form>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-title">
                <h4>архив compositions</h4>
                <a th:href="${'/management/musician/edit/' + musicianCreateEditDTO.slug + '/composition/create'}">создать
                    composition</a>
            </div>
            <div class="table-body-item">
                <table>
                    <thead>
                    <tr>
                        <th>created</th>
                        <th>year</th>
                        <th>catalog_number</th>
                        <th>title</th>
                        <th>rating</th>
                        <th>year_end_rank</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="composition : ${musicianCreateEditDTO.compositions}">
                        <th th:text="${composition.created}"></th>
                        <th th:text="${composition.year}"></th>
                        <th th:text="${composition.catalogNumber}"></th>
                        <th th:text="${composition.title}"></th>
                        <th th:text="${composition.rating}"></th>
                        <th th:text="${composition.yearEndRank}"></th>
                        <th>
                            <a th:href="${'/management/musician/edit/' + musicianCreateEditDTO.slug + '/composition/edit/' + composition.slug}">edit</a>
                        </th>
                        <th>
                            <form th:action="${'/management/musician/edit/' + musicianCreateEditDTO.slug + '/composition/delete/' + composition.slug}"
                                  th:method="delete">
                                <input type="submit" value="delete">
                            </form>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div th:insert="fragments/footer.html"></div>

</div>
</body>
</html>