<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-create-edit-management.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h4>создать musician</h4>
        </div>

        <div class="table-body">
            <div class="table-body-item">
                <form class="form"
                      th:action="${'/management/musician/create'}"
                      th:method="post"
                      th:object="${musicianCreateEditDTO}">

                    <div class="form-item">
                        <label>nickname</label>
                        <input type="text" th:field="*{nickName}" maxlength="255"/>
                    </div>
                    <p class="error" th:if="${#fields.hasErrors('nickName')}" th:errorclass="error"
                       th:errors="*{nickName}"></p>

                    <div class="form-item">
                        <label>slug</label>
                        <input type="text" th:field="*{slug}" maxlength="255"/>
                    </div>
                    <p class="error" th:if="${#fields.hasErrors('slug')}" th:errorclass="error" th:errors="*{slug}"></p>
                    <p class="error" th:if="${not #strings.isEmpty('slug')}" th:text="${slug}"></p>

                    <div class="form-item">
                        <label>first name</label>
                        <input type="text" th:field="*{firstName}" maxlength="255"/>
                    </div>

                    <div class="form-item">
                        <label>last name</label>
                        <input type="text" th:field="*{lastName}" maxlength="255"/>
                    </div>

                    <div class="form-item">
                        <label>born</label>
                        <input type="number" th:field="*{born}"/>
                    </div>

                    <div class="form-item">
                        <label>died</label>
                        <input type="number" th:field="*{died}"/>
                    </div>

                    <div class="form-item">
                        <label>birthday</label>
                        <input type="date" th:field="*{birthDate}"/>
                    </div>

                    <div class="form-item">
                        <label>deathday</label>
                        <input type="date" th:field="*{deathDate}"/>
                    </div>

                    <div class="form-item">
                        <label>period</label>
                        <select th:field="*{period}">
                            <option th:value="null" selected>выбрать период</option>
                            <option th:each="period : ${periods}" th:value="${period}"
                                    th:text="${period.label}"></option>
                        </select>
                    </div>

                    <div class="form-item major-field">
                        <label>academic_genres</label>
                        <select th:field="*{academicGenres}" multiple="multiple">
                            <option th:each="academicGenre : ${academicGenres}" th:value="${academicGenre}"
                                    th:text="${academicGenre.label}"></option>
                        </select>
                    </div>

                    <div class="form-item major-field">
                        <label>contemporary_genres</label>
                        <select th:field="*{contemporaryGenres}" multiple="multiple">
                            <option th:each="contemporaryGenre : ${contemporaryGenres}" th:value="${contemporaryGenre}"
                                    th:text="${contemporaryGenre.label}"></option>
                        </select>
                    </div>

                    <div class="form-item">
                        <label>spotify_link</label>
                        <input type="text" th:field="*{spotifyLink}" maxlength="255"/>
                    </div>

                    <input class="input-submit" type="submit" value="Создать"/>
                </form>
            </div>

        </div>

    </div>

    <div th:insert="fragments/footer.html"></div>

</div>
</body>
</html>