<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-all-management.css}" rel="stylesheet">
</head>
<body>

<div th:insert="fragments/header.html"></div>

<div class="table">

    <header class="table-title">
        <h4>архив image</h4>
    </header>

    <main class="table-body">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>created</th>
                <th>title</th>
                <th>slug</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="image : ${imageDTOList}">
                <th th:text="${imageDTOList.size - imageStat.index}"></th>
                <td th:text="${image.created}"></td>
                <td th:text="${image.title}"></td>
                <td th:text="${image.slug}"></td>
            </tr>
            </tbody>
        </table>
    </main>

</div>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>