<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOTY Generator</title>
    <link th:href="@{/styles/management/entity-create-edit-management.css}" rel="stylesheet">
</head>
<body>

<header th:insert="~{fragments/header.html}"></header>

<main class="table">

    <header class="table-title">
        <h4>SOTY Generator</h4>
    </header>

    <div class="table-body">
        <article class="table-body-item">
            <form class="form" th:action="${'/management/soty-generator'}" th:method="post" th:object="${soty}">

                <section class="form-item">
                    <label>Год</label>
                    <select th:field="*{year}">
                        <option th:value="null" selected>выбрать год рейтинга</option>
                        <option th:each="year : ${years}"
                                th:value="${year}"
                                th:text="${year}">
                        </option>
                    </select>
                </section>

                <input class="input-submit" type="submit" value="Выбрать"/>
            </form>
        </article>
    </div>

</main>

<footer th:insert="~{fragments/footer.html}"></footer>

</body>
</html>