<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-create-edit-management.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h4>изменить image</h4>
    </header>
    <div class="table-body">
        <article class="table-body-item">
            <form class="form" th:action="${'/management/recipe/edit/' + recipeSlug +'/image/edit/' + image.slug}"
                  th:method="put"
                  th:object="${image}">

                <section class="form-item">
                    <label>title</label>
                    <input type="text" th:field="*{title}"/>
                </section>
                <p class="error" th:if="${#fields.hasErrors('title')}" th:errorclass="error"
                   th:errors="*{title}"></p>

                <section class="form-item">
                    <label>slug</label>
                    <input type="text" th:field="*{slug}"/>
                </section>
                <p class="error" th:if="${#fields.hasErrors('slug')}" th:errorclass="error"
                   th:errors="*{slug}"></p>
                <p class="error" th:if="${not #strings.isEmpty('slug')}" th:text="${slug}"></p>

                <section class="form-item major-field">
                    <label>description</label>
                    <textarea th:field="*{description}"></textarea>
                </section>

                <input class="input-submit" type="submit" value="Обновить"/>
            </form>
        </article>

        <header class="table-title">
            <h4>загрузить файл</h4>
        </header>
        <article class="table-body-item">
            <form class="form"
                  th:action="${'/management/recipe/edit/' + recipeSlug + '/image/edit/' + image.slug + '/file/upload'}"
                  th:method="post"
                  enctype="multipart/form-data">

                <section class="form-item">
                    <label>file</label>
                    <input type="file" name="file" accept="image/*">
                </section>

                <button class="input-submit" type="submit">Загрузить</button>
            </form>

            <section class="entity-image">
                <img alt="" th:src="|data:image;base64,${imageDTO.data}|">
            </section>

            <form class="form"
                  th:action="${'/management/recipe/edit/' + recipeSlug + '/image/edit/' + image.slug + '/file/delete'}"
                  th:method="delete">
                <input class="input-submit" type="submit" value="Удалить">
            </form>
        </article>
    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>