<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-all-management.css}" rel="stylesheet">
</head>
<body>

<div th:insert="fragments/header.html"></div>

<div class="table">

    <header class="table-title">
        <h4>архив recipe</h4>
        <a target="_blank" href="/management/recipe/create">создать recipe</a>
    </header>

    <main class="table-body">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>created</th>
                <th>title</th>
                <th>slug</th>
                <th>country</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}">
                <th th:text="${recipeStat.index + 1}"></th>
                <td th:text="${recipe.created}"></td>
                <td th:text="${recipe.title}"></td>
                <td th:text="${recipe.slug}"></td>
                <td th:text="${recipe.country}"></td>
                <td class="td-settings">
                    <a target="_blank"
                       th:href="${'/management/recipe/edit/' + recipe.slug}">edit</a>
                </td>
                <td class="td-settings">
                    <form th:action="${'/management/recipe/delete/' + recipe.slug}"
                          th:method="delete">
                        <input type="submit" value="delete"
                               th:data-confirm-delete="|Are you sure you want to delete this recipe?|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </main>

</div>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>