<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-all-management.css}" rel="stylesheet">
</head>
<body>

<div th:insert="fragments/header.html"></div>

<div class="table">

    <header class="table-title">
        <h4>архив album</h4>
    </header>

    <main class="table-body">
        <table>
            <thead>
            <tr>
                <th class="min-width-50">#</th>
                <th>created</th>
                <th>title</th>
                <th>slug</th>
                <th>catalog_number</th>
                <th>musician</th>
                <th>year</th>
                <th>period</th>
                <th>genres</th>
                <th>rating</th>
                <th>YER</th>
                <th>EAR</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="album : ${albumViewDTOList}">
                <th th:text="${albumStat.index + 1}"></th>
                <td th:text="${album.created}"></td>
                <td th:text="${album.title}"></td>
                <td th:text="${album.slug}"></td>
                <td th:text="${album.catalogNumber}"></td>
                <td th:text="${album.musicianNickname}"></td>
                <td th:text="${album.year}"></td>
                <td>
                    <span th:if="${not #lists.isEmpty(album.musicPeriods)}"
                          th:each="period : ${album.musicPeriods}">
                        <span th:text="${period.title}"></span>
                    </span>
                </td>
                <td>
                    <span th:if="${not #lists.isEmpty(album.musicGenres)}" th:each="genre : ${album.musicGenres}">
                        <span th:text="${genre.title}"></span>
                    </span>
                </td>
                <td th:text="${album.rating}"></td>
                <td th:text="${album.yearEndRank}"></td>
                <td th:text="${album.essentialAlbumsRank}"></td>
                <td class="td-settings">
                    <a target="_blank"
                       th:href="${'/management/musician/edit/' + album.musicianSlug + '/album/edit/' + album.slug}">edit</a>
                </td>
                <td class="td-settings">
                    <form th:action="${'/management/album/delete/' + album.slug}"
                          th:method="delete">
                        <input type="submit" value="delete"
                               th:data-confirm-delete="|Are you sure you want to delete this album?|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </main>

</div>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>