<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-create-edit-management.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h4>создать album</h4>
    </header>

    <div class="table-body">
        <article class="table-body-item">
            <form class="form"
                  th:action="${'/management/musician/edit/' + album.musicianSlug + '/album/create'}"
                  th:method="post"
                  th:object="${album}">

                <section class="form-item">
                    <label>title</label>
                    <input type="text" th:field="*{title}" maxlength="255"/>
                </section>
                <p class="error" th:if="${#fields.hasErrors('title')}" th:errorclass="error" th:errors="*{title}"></p>

                <section class="form-item">
                    <label>slug</label>
                    <input type="text" th:field="*{slug}" maxlength="255"/>
                </section>
                <p class="error" th:if="${#fields.hasErrors('slug')}" th:errorclass="error" th:errors="*{slug}"></p>

                <section class="form-item">
                    <label>year</label>
                    <input type="number" th:field="*{year}"/>
                </section>

                <section class="form-item">
                    <label>musician</label>
                    <input disabled type="text" th:field="*{musicianNickname}"/>
                </section>

                <section class="form-item major-field">
                    <label>collaborators</label>
                    <select th:field="*{collaboratorsUUID}" multiple="multiple">
                        <option th:each="collaborator : ${albumCollaborators}"
                                th:value="${collaborator.id}"
                                th:text="${collaborator.nickName}">
                        </option>
                    </select>
                </section>

                <section class="form-item major-field">
                    <label>classical genres</label>
                    <select th:field="*{classicalGenres}" multiple="multiple">
                        <option th:each="genre : ${classicalMusicGenres}"
                                th:value="${genre.id}"
                                th:text="${genre.title}">
                        </option>
                    </select>
                </section>

                <section class="form-item major-field">
                    <label>contemporary genres</label>
                    <select th:field="*{contemporaryGenres}" multiple="multiple">
                        <option th:each="genre : ${contemporaryMusicGenres}"
                                th:value="${genre.id}"
                                th:text="${genre.title}">
                        </option>
                    </select>
                </section>

                <section class="form-item">
                    <label>rating</label>
                    <input type="number" step="0.5" th:field="*{rating}"/>
                </section>

                <section class="form-item">
                    <label>year end rank (YER)</label>
                    <input type="number" th:field="*{yearEndRank}"/>
                </section>

                <section class="form-item">
                    <label>essential albums rank (EAR)</label>
                    <input type="number" th:field="*{essentialAlbumsRank}"/>
                </section>

                <section class="form-item major-field">
                    <label>highlights</label>
                    <textarea th:field="*{highlights}"></textarea>
                </section>

                <section class="form-item major-field">
                    <label>description</label>
                    <textarea th:field="*{description}"></textarea>
                </section>

                <input class="input-submit" type="submit" value="Создать"/>
            </form>
        </article>
    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>