<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-all-management.css}" rel="stylesheet">
</head>
<body>

<header th:insert="~{fragments/header.html}"></header>

<main class="table">

    <header class="table-title">
        <h4>архив timeline of music</h4>
        <a target="_blank" href="/management/timeline-of-music/event/create">создать event</a>
    </header>

    <div class="table-body">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>created</th>
                <th>era_type</th>
                <th>year</th>
                <th>another_year</th>
                <th>title</th>
                <th>description</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="timelineEvent : ${timelineEventList}">
                <th th:text="${timelineEventStat.index + 1}"></th>
                <td th:text="${timelineEvent.created}"></td>
                <td th:text="${timelineEvent.eraType}"> </td>
                <td th:text="${timelineEvent.year}"></td>
                <td th:text="${timelineEvent.anotherYear}"></td>
                <td th:text="${timelineEvent.title}"></td>
                <td th:text="${timelineEvent.description}"></td>
                <td class="td-settings">
                    <a target="_blank" th:href="${'/management/timeline-of-music/event/edit/' + timelineEvent.id}">edit</a>
                </td>
                <td class="td-settings">
                    <form th:action="${'/management/timeline-of-music/event/delete/' + timelineEvent.id}" th:method="delete">
                        <input type="submit" value="delete"
                               th:data-confirm-delete="|Are you sure you want to delete this timelineEvent?|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<footer th:insert="~{fragments/footer.html}"></footer>
</body>
</html>