<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Старинные рецепты, история блюд и их культурное значение.">
    <meta name="keywords"
          content="gastronomy, recipes, culinary history, traditional cuisine, cooking techniques, food culture, culinary heritage,
           gastronomic traditions, historical recipes, culinary evolution, culinary arts, gastronomic delights, food history,
           culinary influences, culinary exploration">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Гастрономия</title>
    <link th:href="@{/styles/section-main-page.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3>Гастрономия</h3>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <h3>Статьи</h3>
            <span style="font-style: italic">В разработке</span>
            <span th:each="article : ${articles}">
                <a th:text="${article.title}" th:href="'/gastronomy/article/' + ${article.slug}"></a>
            </span>
            <a href="/gastronomy/gastronomy-resources">Полезные ресурсы</a>
        </article>

        <article class="table-body-item">
            <h3>Страны</h3>
            <div class="table-body-item-row">
                <span th:each="country : ${countryList}">
                    <a th:text="${country.label}" th:href="'/gastronomy/country/' + ${country.slug}"></a>
                </span>
            </div>
        </article>

        <article class="table-body-item">
            <h3>Библиотека рецептов</h3>
            <span th:each="recipe : ${recipeList}">
                <a th:text="${recipe.title}" th:href="'/gastronomy/recipe/' + ${recipe.slug}"></a>
            </span>
        </article>

        <article class="table-body-item">
            <h3>Библиотека коктейлей</h3>
            <span th:each="cocktail : ${cocktailList}">
                <a th:text="${cocktail.title}" th:href="'/gastronomy/cocktail/' + ${cocktail.slug}"></a>
            </span>
        </article>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>