<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Библиотека рецептов</title>
    <link th:href="@{/styles/gastronomy/gastronomy-entity-all.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="~{fragments/header.html}"></header>

<main class="table">

    <header class="table-title">
        <h3>Все рецепты</h3>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <section class="table-body-item-row" th:each="recipe : ${recipeList}">
               <h3 class="table-body-item-col">
                    <a th:text="${recipe.title}" th:href="'/gastronomy/recipe/' + ${recipe.slug}"></a>
                </h3>
            </section>
        </article>

    </div>

</main>

<footer th:insert="~{fragments/footer.html}"></footer>

</body>
</html>