<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title th:text="${recipe.title}"></title>
    <link th:href="@{/styles/gastronomy/gastronomy-entity.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="~{fragments/header.html}"></header>

<main class="table">

    <header class="table-title">
        <h2 th:text="${recipe.title}"></h2>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <section class="table-body-item-row about">
                <div th:utext="${recipe.about}"></div>
            </section>

            <section class="table-body-item-row ingredients">
                <header class="section-title">
                    <h3>Базовые ингредиенты:</h3>
                </header>
                <div th:utext="${recipe.ingredients}"></div>
            </section>

            <section class="table-body-item-row method">
                <header class="section-title">
                    <h3>Способ приготовления:</h3>
                </header>
                <div th:utext="${recipe.method}"></div>
            </section>
        </article>

    </div>

</main>

<footer th:insert="~{fragments/footer.html}"></footer>

</body>
</html>