<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Топ 20 самых переоцененных фильмов</title>
    <link th:href="@{/styles/cinema/cinema-entity-all.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">
    <header class="table-title">
        <h3>Топ 20 самых переоцененных фильмов</h3>
        <p>Переоцененных, а не худших. Понимать буквально. Фильмы с наибольшей пропастью между раздутой зрительской оценкой
            и реальными кинематографическими достоинствами.</p>
    </header>
    <div class="table-body">
        <article class="table-body-item">
            <section class="table-body-item-row film-section">
                <span>
                    1. Побег из Шоушенка (1994)<br>
                    2. 1+1 (2011)<br>
                    3. Оппенгеймер (2023)<br>
                    4. Достучаться до небес (1997)<br>
                    5. Зеленая миля (1999)<br>
                    6. Джентльмены (2019)<br>
                    7. Чужие (1986)<br>
                    8. Терминатор 2: Судный день (1991)<br>
                    9. Темный рыцарь (2008)<br>
                    10. Остров проклятых (2009)<br>
                    11. Титаник (1997)<br>
                    12. Волк с Уолл-стрит (2013)<br>
                    13. Властелин колец: Возвращение короля (2003)<br>
                    14. Леон (1994)<br>
                    15. Вечное сияние чистого разума (2004)<br>
                    16. Форрест Гамп (1994)<br>
                    17. Начало (2010)<br>
                    18. Интерстеллар (2014)<br>
                    19. Бойцовский клуб (1999)<br>
                    20. Матрица (1999)<br>
                </span>
            </section>

            <section class="table-body-item-row film-section">
                <span>
                    Средние значения (Кинопоиск + IMDb):<br>
                    1. Побег из Шоушенка (1994) — (9.1 + 9.3) / 2 = 9.2<br>
                    2. Темный рыцарь (2008) — (8.7 + 9.0) / 2 = 8.85<br>
                    3. Форрест Гамп (1994) — (8.8 + 8.8) / 2 = 8.8<br>
                    4. Властелин колец: Возвращение короля (2003) — (8.6 + 9.0) / 2 = 8.8<br>
                    5. Зеленая миля (1999) — (9.0 + 8.6) / 2 = 8.8<br>
                    6. Начало (2010) — (8.6 + 8.8) / 2 = 8.7<br>
                    7. 1+1 (2011) — (8.7 + 8.5) / 2 = 8.6<br>
                    8. Матрица (1999) — (8.5 + 8.7) / 2 = 8.6<br>
                    9. Интерстеллар (2014) — (8.6 + 8.7) / 2 = 8.65<br>
                    10. Бойцовский клуб (1999) — (8.4 + 8.8) / 2 = 8.6<br>
                    11. Леон (1994) — (8.5 + 8.5) / 2 = 8.5<br>
                    12. Терминатор 2: Судный день (1991) — (8.2 + 8.6) / 2 = 8.4<br>
                    13. Остров проклятых (2009) — (8.2 + 8.5) / 2 = 8.35<br>
                    14. Волк с Уолл-стрит (2013) — (8.2 + 8.2) / 2 = 8.2<br>
                    15. Чужие (1986) — (8.0 + 8.4) / 2 = 8.2<br>
                    16. Оппенгеймер (2023) — (7.8 + 8.6) / 2 = 8.2<br>
                    17. Вечное сияние чистого разума (2004) — (8.0 + 8.3) / 2 = 8.15<br>
                    18. Титаник (1997) — (8.4 + 7.9) / 2 = 8.15<br>
                    19. Достучаться до небес (1997) — (8.0 + 8.1) / 2 = 8.05<br>
                    20.Джентльмены (2019) — (7.8 + 7.8) / 2 = 7.8
                </span>
            </section>
        </article>
    </div>
</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>