<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Топ 20 самых переоцененных фильмов</title>
    <link th:href="@{/styles/cinema/cinema-entity-all.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">
    <header class="table-title">
        <h3>Топ 20 самых переоцененных фильмов</h3>
        <p>Переоцененных, а не плохих. Понимать буквально. Фильмы, чья раздутая зрительская оценка несопоставима
            с реальными кинематографическими достоинствами.</p>
    </header>
    <div class="table-body">
        <article class="table-body-item">
            <section class="table-body-item-row film-section">
                <span>
                    1. Побег из Шоушенка (1994)<br>
                    2. 1+1 (2011)<br>
                    3. Оппенгеймер (2023)<br>
                    4. Достучаться до небес (1997)<br>
                    5. Зеленая миля (1999)<br>
                    6. Джентльмены (2019)<br>
                    7. Чужие (1986)<br>
                    8. Терминатор 2: Судный день (1991)<br>
                    9. Остров проклятых (2009)<br>
                    10. Темный рыцарь (2008)<br>
                    11. Волк с Уолл-стрит (2013)<br>
                    12. Титаник (1997)<br>
                    13. Властелин колец: Возвращение короля (2003)<br>
                    14. Леон (1994)<br>
                    15. Вечное сияние чистого разума (2004)<br>
                    16. Начало (2010)<br>
                    17. Форрест Гамп (1994)<br>
                    18. Интерстеллар (2014)<br>
                    19. Бойцовский клуб (1999)<br>
                    20. Матрица (1999)<br>
                </span>
            </section>
        </article>
    </div>
</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>