<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Топ 10 величайших артистов балета</title>
    <link th:href="@{/styles/art/ballet-dancers-top-10.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="~{fragments/header.html}"></header>

<main class="table">

    <header class="table-title">
        <h3>Топ 10 величайших артистов балета</h3>
    </header>

    <div class="table-body">
        <article class="table-body-item">
            <section class="table-body-item-row ballet-dancers-top-10">
                <h3>1. Анна Павлова (Санкт-Петербург, Российская империя, 1881) </h3>
                <p> Великая русская прима-балерина, солистка Императорского русского балета. Создала знаменитую роль
                    «Умирающего лебедя» и стала первой балериной, которая отправилась в мировое турне со своей
                    собственной труппой, выступая в Южной Америке, Индии, Мексике, Австралии, Китае и США.
                    <br>
                    <br>
                    Анна Павлова родилась 12 февраля 1881 года в Санкт-Петербурге в небогатой семье. Её страсть к балету
                    зародилась в восемь лет, когда она увидела «Спящую красавицу» в Мариинском театре. В 1891 году она
                    поступила в Императорское балетное училище, где её наставниками были Екатерина Вазем и Павел Гердт.
                    Несмотря на хрупкое телосложение, Павлова быстро выделялась благодаря выразительности и лёгкости
                    движений. В 1899 году, окончив училище, она дебютировала в Мариинском театре в балете «Дочь
                    фараона», а вскоре стала солисткой.
                    <br>
                    <br>
                    Её карьера стремительно развивалась: в 1906 году Павлова получила звание прима-балерины, а её
                    исполнение роли Жизели в одноимённом балете Адольфа Адана вызвало восторг публики. В 1907 году она
                    начала сотрудничать с Михаилом Фокиным, который создал для неё знаменитый номер «Умирающий лебедь»
                    на музыку Камиля Сен-Санса. Этот короткий, но пронзительный танец стал её визитной карточкой,
                    символизируя хрупкость и трагизм, присущие русскому балету.
                    <br>
                    <br>
                    В 1909 году Павлова присоединилась к «Русским балетам» Дягилева, выступая в Париже и Лондоне. Её
                    успех в Европе был ошеломляющим, но в 1911 году она покинула труппу, чтобы создать собственную
                    балетную компанию. С этой труппой Павлова гастролировала по всему миру - от Австралии до Южной
                    Америки, - став первой балериной, сделавшей балет доступным для массовой аудитории. В 1912 году она
                    поселилась в Лондоне, в доме «Айви Хаус», который стал её творческой базой. Павлова продолжала
                    выступать до конца жизни.
                </p>
                <div class="ballet-dancers-image">
                    <img th:src="@{/images/balletdancers/anna-pavlova-2.avif}" alt="anna-pavlova">
                </div>
            </section>

            <section class="table-body-item-row ballet-dancers-top-10">
                <h3>2. Вацлав Нижинский (Киев, Российская империя, 1889)</h3>
                <p> Великий русский балетный танцор и хореограф, крупнейший мужской танцор начала XX века. Начал
                    заниматься танцами под руководством своих родителей, в девять лет поступил в Императорское балетное
                    училище, окончил его в 1907 году и стал корифеем Императорского балета. В 1909 году присоединился к
                    «Русским балетам», став звездой труппы и любовником Сергея Дягилева, расширив свой художественный
                    кругозор и создав спорные балеты, такие как «Послеполуденный покой фавна» (1912), «Весна священная»
                    (1913), «Игры» (1913) и «Тиль Уленшпигель» (1916).
                    <br>
                    <br>
                    В 1913 году женился на Ромоле де Пульски, что привело к его увольнению из «Русских балетов». Во
                    время Первой мировой войны был интернирован в Будапеште. В 1919 году была диагностирована
                    шизофрения,
                    провёл 30 лет в психиатрических учреждениях и больше никогда не танцевал публично, умер в Лондоне.
                </p>
                <div class="ballet-dancers-image">
                    <img th:src="@{/images/balletdancers/vaslav-nijinsky.avif}" alt="anna-pavlova">
                </div>
            </section>

            <section class="table-body-item-row ballet-dancers-top-10">
                <h3>3. Михаил Фокин (Санкт-Петербург, Российская империя, 1880)</h3>
                <p> Великий русский солист балета, русский и американский хореограф, реформатор балета начала XX века.
                    Михаил Фокинв родился в 1880 году в Санкт-Петербурге. Окончив Императорское театральное
                    училище с высшей наградой в 1898 году, он начал карьеру солиста Мариинского театра и вскоре занялся
                    постановкой балетов. Его ранние работы, такие как «Сон в летнюю ночь» и «Полет бабочки», получили
                    признание Мариуса Петипа. Вдохновлённый Айседорой Дункан в 1905 году, Фокин разработал новый язык
                    балета, где кордебалет стал активным участником действия, а танец, музыка и живопись служили единому
                    замыслу. Для «Русских балетов» Дягилева он создал знаковые балеты, включая «Шопениану», «Павильон
                    Армиды» и «Умирающего лебедя» для Анны Павловой, раскрыв таланты таких звёзд, как Вацлав Нижинский и
                    Тамара Карсавина. Триумф «Русских сезонов» в Париже в 1909–1910 годах сделал Фокина мировой
                    знаменитостью.
                    <br>
                    <br>
                    После разрыва с Дягилевым в 1912 году он гастролировал с Павловой, но столкнулся с
                    финансовыми трудностями и потерей прав на свои балеты. В 1919 году Фокин эмигрировал в США, где в
                    1936 году возродил свои шедевры, такие как «Петрушка» и «Шехеразада», для «Балета Монте-Карло» и
                    Американского балетного театра. В 1939 году он поставил балет «Паганини» на музыку Рахманинова.
                    Фокин оставил после себя 70 балетов, которые пережили своего создателя, закрепив за ним славу
                    главного романтика балетной сцены.
                </p>
                <div class="ballet-dancers-image">
                    <img th:src="@{/images/balletdancers/michel-fokine-2.avif}" alt="anna-pavlova">
                </div>
            </section>

            <section class="table-body-item-row ballet-dancers-top-10">
                <h3>4. Галина Уланова (Санкт-Петербург, Российская империя, 1910)</h3>
                <p> Выдающаяся русская балерина, одна из величайших балерин XX века. Родилась в семье солистов
                    Мариинского театра и была вынуждена заниматься балетом, обучаясь у Агриппины Вагановой и своей
                    матери. В 1928 году присоединилась к Мариинскому театру, а в 1944 году перешла в Большой театр, где
                    стала примой-балериной на 16 лет. Известна ролями в «Ромео и Джульетте», «Жизели» и «Лебедином
                    озере», а также была великолепной актрисой. Гастролировала за границей, вдохновляя западных
                    танцоров.
                </p>
                <div class="ballet-dancers-image">
                    <img th:src="@{/images/balletdancers/galina-ulanova.avif}" alt="anna-pavlova">
                </div>
            </section>

            <section class="table-body-item-row ballet-dancers-top-10">
                <h3>5. Джордж Баланчин (Санкт-Петербург, Российская империя, 1904)</h3>
                <p> Русско-американским хореограф, один из основателей современного балета. Начал карьеру в
                    Императорском балете, в 1924 году эмигрировал на Запад и присоединился к «Русским балетам» Дягилева.
                    В 1933 году переехал в США, где основал Школу американского балета и Нью-Йоркский городской балет,
                    создав такие шедевры, как «Серенада», «Аполлон» и «Щелкунчик». Его неоклассический стиль преобразил
                    балет, сделав его более абстрактным и музыкальным.
                </p>
                <div class="ballet-dancers-image">
                    <img th:src="@{/images/balletdancers/george-balanchine.avif}" alt="anna-pavlova">
                </div>
            </section>

            <section class="table-body-item-row ballet-dancers-top-10">
                <h3>6. Рудольф Нуриев (СССР, 1938)</h3>
                <p>Советский балетный танцор и хореограф, считается одним из величайших балетных танцоров всех времён.
                    Родился в поезде Транссибирской магистрали недалеко от озера Байкал, воспитывался в татарской
                    мусульманской семье. В 1961 году он сбежал на Запад, что вызвало международный резонанс. Он танцевал
                    с Королевским балетом, а с 1983 по 1989 год руководил балетом Парижской оперы, создав новые
                    интерпретации классических балетов, таких как «Лебединое озеро» и «Жизель».
                </p>
                <div class="ballet-dancers-image">
                    <img th:src="@{/images/balletdancers/rudolf-nureyev.avif}" alt="anna-pavlova">
                </div>
            </section>

            <section class="table-body-item-row ballet-dancers-top-10">
                <h3>7. Марго Фонтейн (Великобритания, 1919)</h3>
                <p> Дама Маргарет Эвелин де Ариас, известная как Марго Фонтейн, была английской балериной, всю свою
                    карьеру проведшей в Королевском балете, где была назначена примой балериной королевой
                    Елизаветой II. Она начала заниматься балетом в четыре года, училась в Англии и Китае, а в 14 лет
                    поступила в балетную школу Вика-Веллса. В 1935 году она сменила Алисию Маркову на посту
                    примы-балерины, выступая сначала с Робертом Хелпманном, а позже с Майклом Сомсом. Фонтейн приобрела
                    международную известность во время гастролей в США в 1949 году, вышла замуж за панамского политика
                    Роберто Ариаса в 1955 году и сформировала легендарный дуэт с Рудольфом Нуриевым в 1961 году. Ушла из
                    балета в 1979 году, переехала в Панаму.
                </p>
                <div class="ballet-dancers-image">
                    <img th:src="@{/images/balletdancers/margot-fonteyn.avif}" alt="anna-pavlova">
                </div>
            </section>

            <section class="table-body-item-row ballet-dancers-top-10">
                <h3>8. Михаил Барышников (СССР, 1948)</h3>
                <p> Советский и американский артист балета, хореограф и актёр, признанный ведущим мужским классическим
                    балетным танцором 1970–1980-х годов, позже ставший известным балетмейстером. Родился в Риге,
                    Латвийская ССР. В 1974 году он бежал в Канаду в поисках больших возможностей в западном балете,
                    присоединился к Американскому театру балета и стал прима-балериной Нью-Йоркского городского балета
                    на один сезон. Вернулся в Американский театр балета в качестве художественного руководителя и
                    основал проект «Белый дуб». Барышников продвигал современный танец, премьерил новые работы и добился
                    успеха как драматический актёр в кино и на телевидении.
                </p>
                <div class="ballet-dancers-image">
                    <img th:src="@{/images/balletdancers/mikhail-baryshnikov.avif}" alt="anna-pavlova">
                </div>
            </section>

            <section class="table-body-item-row ballet-dancers-top-10">
                <h3>9. Сильви Гиллем (Париж, Франция, 1965)</h3>
                <p> Французская балерина, была ведущей женской танцовщицей Парижской оперы с 1984 по 1989 год, а затем
                    стала
                    приглашённой примой-балериной Королевского балета в Лондоне. Она также исполняла современный танец в
                    качестве ассоциированного художника Театра Сэдлерс-Уэллс. Среди её заметных ролей — «Жизель»,
                    «Лебединое озеро» и «Дон Кихот». Объявила о своём уходе из балета в ноябре 2014 года, её последнее
                    выступление состоялось 31 декабря 2015 года на японском телевидении с исполнением «Болеро». Её
                    карьера длилась с 1984 по 2015 год. В детстве занималась гимнастикой, в 1977 году в возрасте 11 лет
                    поступила в школу балета Парижской оперы и стала самой молодой этуалью в 1984 году в возрасте 19 лет
                    после исполнения «Лебединого озера».
                </p>
                <div class="ballet-dancers-image">
                    <img th:src="@{/images/balletdancers/sylvie-guillem.avif}" alt="anna-pavlova">
                </div>
            </section>

            <section class="table-body-item-row ballet-dancers-top-10">
                <h3>10. Наталия Макарова (СССР, 1940)</h3>
                <p>Русская прима-балерина и хореограф. В 12 лет поступила в Ленинградское хореографическое училище,
                    стала примой-балериной Кировского балета с 1956 по 1970 год, в 1970 году бежала на Запад.
                    Выступала с Американским театром балета и Королевским балетом, известна ролями в «Лебедином озере»
                    и «Жизели». Ушла из танцев из-за травм, теперь ставит балеты по всему миру, получила премию «Тони»
                    за бродвейский мюзикл «На цыпочках».
                </p>
                <div class="ballet-dancers-image">
                    <img th:src="@{/images/balletdancers/natalia-makarova.avif}" alt="anna-pavlova">
                </div>
            </section>
        </article>
    </div>

</main>

<footer th:insert="~{fragments/footer.html}"></footer>

</body>
</html>