<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Все художники</title>
    <link th:href="@{/styles/literature/literature-entity-all.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3>Все художники</h3>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <section class="table-body-item-row" th:each="painter : ${painterList}">
                <span class="table-body-item-col" th:if="${painter.born} != null"
                      th:text="${painter.born}"></span>
                <span class="table-body-item-col nickname">
                    <a th:text="${painter.nickName}" th:href="'/art/painter/' + ${painter.slug}"></a>
                </span>
            </section>
        </article>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>