<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Топ 25 лучших произведений живописи</title>
    <link th:href="@{/styles/art/art-entity-all.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="~{fragments/header.html}"></header>

<main class="table">

    <header class="table-title">
        <h3>Топ 25 лучших произведений живописи</h3>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <section class="table-body-item-row painting-top20" th:each="painting : ${paintingList}">
                <div class="painting-description">
                    <span class="painting-index" th:text="${painting.allTimeTopRank} + '.'"></span>
                    <span th:if="${painting.artistNickname} != 'Неизвестен'">
                        <a th:text="${painting.artistNickname}" th:href="'/art/artist/' + ${painting.artistSlug}"></a>
                        <span class="artist-nickname-colon">: </span>
                    </span>
                    <span th:text="${painting.title}"></span>
                    <span th:if="${painting.year2} != null" th:text="'(' + ${painting.year2} + ')'"></span>
                    <span th:if="${not #strings.isEmpty(painting.approximateYears)}"
                          th:text="'(' + ${painting.approximateYears} + ')'">
                    </span>
                </div>
                <div class="painting-image" th:if="${painting.image} != null">
                    <img th:src="|data:image/jpeg;base64,${painting.image.data}|" th:alt="${painting.title}">
                </div>
            </section>
        </article>

    </div>

</main>

<footer th:insert="~{fragments/footer.html}"></footer>

</body>
</html>