<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Литература</title>
    <link th:href="@{/styles/section-main-page.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3>Литература</h3>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <h3>Списки и графики:</h3>
            <a href="/literature/writer/all">Писатели</a>
            <a href="/literature/prose/all">Проза</a>
            <a href="/literature/quote/all">Цитаты</a>
        </article>

        <article class="table-body-item">
            <h3>Страны</h3>
            <div class="table-body-item-row">
                <span style="font-style: italic">В разработке</span>
            </div>
        </article>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>