<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Проза и поэзия</title>
    <link th:href="@{/styles/literature/literature-entity-all.css}" rel="stylesheet">
    <link th:href="@{/styles/title-note.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="~{fragments/header.html}"></header>

<main class="table">

    <header class="table-title">
        <h3>Проза и поэзия</h3>
        <p class="table-title-note">последние обновления</p>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <section class="table-body-item-row" th:each="prose : ${proseList}">
                <span th:text="${prose.created}"></span>
                <a th:text="${prose.writerNickname}" th:href="'/literature/writer/' + ${prose.writerSlug}"></a>
                <span>
                    <span th:text="${prose.title}"></span>
                    <span class="table-body-item-col year" th:if="${prose.year} != null"
                          th:text="'(' + ${prose.year} + ')'"></span>
                </span>
            </section>
        </article>

    </div>

</main>

<footer th:insert="~{fragments/footer.html}"></footer>

</body>
</html>