<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Все цитаты</title>
    <link th:href="@{/styles/literature/literature-entity-all.css}" rel="stylesheet">
    <link th:href="@{/styles/title-note.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="~{fragments/header.html}"></header>

<main class="table">

    <header class="table-title">
        <h3>Все цитаты</h3>
        <p class="table-title-note">последние обновления</p>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <section class="table-body-item-row quote-all" th:each="quote : ${quoteList}">
                <span class="created" th:text="${quote.created}"></span>
                <div class="description">
                    <span th:if="${not #strings.isEmpty(quote.description)}" th:text="${quote.description}"></span>
                    <span th:if="${not #strings.isEmpty(quote.descriptionHtml)}" th:utext="${quote.descriptionHtml}"></span>
                </div>
                <div class="author">
                    <a th:text="${quote.writerNickname}" th:href="'/literature/writer/' + ${quote.writerSlug}"></a>
                    <span th:text="'«' + ${quote.proseTitle} + '»'"></span>
                    <span th:if="${not #strings.isEmpty(quote.location)}" th:text="', ' + ${quote.location}"></span>
                    <p th:if="${not #strings.isEmpty(quote.publication)}" th:text="${quote.publication}"></p>
                </div>
            </section>
        </article>

    </div>

</main>

<footer th:insert="~{fragments/footer.html}"></footer>

</body>
</html>