
.table-title {
    padding: 30px 300px;
    text-align: center;
}

.table-title p {
    font-size: smaller;
    font-style: italic;
}

.table-body {
    padding: 0 250px;
    border: 1px solid gray;
}

.table-body-item {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
    gap: 50px;
}

.table-body-item-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.film-title {
    font-weight: bold;
}

.film-synopsis {
    font-size: small;
    text-align: justify;
}

@media (max-width: 768px) {
    .table-title {
        padding: 30px 30px;
        font-size: large;
    }

    .table-body {
        padding: 0 30px;
        border: none;
    }

    .table-body-item {
        display: flex;
        flex-direction: column;
        margin: 0 0;
        gap: 35px;
    }

    .table-body-item-row {
        padding: 10px;
        border: 1px solid gray;
    }
}