
.table-title {
    padding: 30px 300px;
    text-align: center;
}

.table-title p {
    font-size: smaller;
    font-style: italic;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
    border: 1px solid gray;
}

.table-body-item {
    margin: 20px 0;
}

.table-body-item-row {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    gap: 15px;
}

.quote-all {
    flex-direction: column;
}

.description {
    text-align: justify;
}

.author {
    padding-bottom: 10px;
    text-align: right;
    border-bottom: 1px solid #d5d1d1;
}

.word-all {
    gap: 0;
    display: flex;
    flex-direction: row;
}

.word-all-title {
    min-width: 25%;
    font-style: italic;
}

.word-all-description {
    text-align: justify;
}

@media (max-width: 768px) {
    .table-title {
        padding: 30px 30px;
        font-size: large;
    }
    .table-body {
        padding: 0 30px;
        border: none;
    }
    .table-body-item {
        margin: 0;
    }
    .table-body-item-row {
        flex-direction: column;
        padding: 5px;
        text-align: center;
        border: 1px solid gray;
        gap: 0;
    }
    .created {
        text-align: left;
    }
    .quote-all {
        padding: 0;
        border: none;
        gap: 15px;
    }
    .word-all {
        display: flex;
        flex-direction: row;
        text-align: left;
        border: none;
        background-color: #cbcbcb25;
    }
    .word-all-title {
        width: 35%;
        word-wrap: break-word;
    }
    .word-all-description {
        width: 65%;
        text-align: unset;
    }
}