<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<footer class="footer">

    <nav class="footer-menu">
        <ul>
            <li><a href="https://www.last.fm/user/dmitryshundrik" target="_blank">Last.fm</a></li>
            <li><a href="/resources">Пресса</a></li>
            <li><a href="/charity">БО</a></li>
        </ul>
    </nav>

    <div class="footer-logo">
        <span th:text="'© Дмитрий Шундрик 2022-' + ${T(com.dmitryshundrik.knowledgebase.util.DateTimeGetter).getCurrentYear()}"></span>
        <p th:text="'версия: ' + (${@environment.getProperty('app.version')} ?: 'unknown')"></p>
    </div>

</footer>

</body>

