<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<footer class="footer">

    <nav class="footer-menu">
        <ul>
            <li><a href="https://www.instagram.com/dmitryshundrik" target="_blank">Instagram</a></li>
            <li><a href="https://www.last.fm/user/dmitryshundrik" target="_blank">Last.fm</a></li>
            <li><a href="/resources">Ресурсы</a></li>
            <li><a href="/charity">БО</a></li>
        </ul>
    </nav>

    <div class="footer-logo">
        <span th:text="'© Дмитрий Шундрик 2022-' + ${T(com.dmitryshundrik.knowledgebase.util.DateTime).getCurrentYear()}"></span>
    </div>

</footer>

</body>

