<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/reset.css}" rel="stylesheet">
    <link th:href="@{/styles/initial.css}" rel="stylesheet">
</head>
<body>

<header class="header">

    <div class="header-title">
        <a href="/">
            <h1>дмитрий шундрик</h1>
        </a>
    </div>

    <nav class="header-menu">
        <ul>
            <li><a href="/music">Музыка</a></li>
            <li><a href="/gastronomy">Гастрономия</a></li>
            <li><a href="/literature">Литература</a></li>
            <li><a href="/resources">Ресурсы</a></li>
            <li><a href="/charity">БО</a></li>
            <li th:if="${T(com.dmitryshundrik.knowledgebase.security.service.UserService).isAuthenticated()}"><a
                    th:href="${'/management'}">Управление</a></li>

            <li th:if="${T(com.dmitryshundrik.knowledgebase.security.service.UserService).isAuthenticated()}"><a
                    th:href="${'/logout'}">Выход</a></li>
        </ul>
    </nav>

</header>

</body>
</html>