
.table-title {
    padding: 30px 300px;
    text-align: center;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 0 300px;
    border: 1px solid gray;
}

.table-body-item {
    margin: 20px 0px;
}

.table-body-item-row {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    gap: 15px;
}

.column-genre {
    font-style: italic;
}

.rating {
    color: red;
}