
.table {
    padding: 0 200px;
}

.table-header {
    display: flex;
    padding-top: 60px;
    gap: 30px;
}

.entity-image {
    width: 30%;
    max-width: 30%;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
}

.entity-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.nickname {
    border-bottom: 1px solid gray;
}


.genre {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    gap: 50px;
}

.table-body-item {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 15px;
}

.table-body-item-title {
    border-bottom: 1px solid gray;
}

.events-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.best-works-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.all-works-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.item-year-index {
    width: 10%;
    text-align: center;
}