
.table-title {
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 250px;
    padding-left: 250px;
}

.table-title-image {
    width: 30%;
    max-width: 30%;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
}

.table-title-item-row {
    margin: 15px 0;
}

.nickname {
    margin-top: 0px;
    border-bottom: 1px solid gray;
}

.genre {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
}

.table-body-item {
    margin: 20px 0px;
}

.table-body-item-title {
    border-bottom: 1px solid gray;
}

.table-body-item-row {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    gap: 15px;
}

.rating {
    color: red;
}

