
.table-title {
    display: flex;
    height: 320px;
    padding: 50px 300px;
    justify-content: center;
    gap: 40px;
}

.entity-image {
    min-width: 25%;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
}

.entity-image img {
    width: auto;
    max-height: 100%;
}

.entity-information {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.nick-name {
    border-bottom: 1px solid gray;
}

.genre {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 0px 300px;
    gap: 50px;
}

.table-body-item {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 15px;
}

.table-body-item-title {
    border-bottom: 1px solid gray;
}

.events-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.best-works-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.all-works-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.rating {
    color: red;
}