
.table-title {
    padding: 30px 300px;
    text-align: center;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
    border: 1px solid gray;
}

.table-body-item {
    margin: 20px 0px;
}

.table-body-item-row {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    gap: 10px;
}

.nickname {
    min-width: fit-content;
}

.column-genre {
    font-style: italic;
}

.rating {
    color: red;
}

.description {
    text-align: justify;
}

@media (max-width: 768px) {
    .table-title {
        padding: 30px 30px;
        font-size: large;
    }
    .table-body {
        padding: 0 30px;
        border: none;
    }
    .table-body-item {
        padding: 0 15px !important;
        margin: 0;
    }
    .table-body-item-row {
        flex-direction: column;
        padding: 5px;
        text-align: center;
        border: 1px solid gray;
        gap: 0;
    }
}