
.table-title {
    padding: 30px 200px;
    text-align: center;
}

.table-title-description {
    padding-top: 15px;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    border: 1px solid gray;
}

.table-body-item-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.song-genres {
    margin: 5px 0;
    font-style: italic;
}