
.table-title {
    display: flex;
    justify-content: space-between;
    padding: 30px 250px;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
    border: 1px solid gray;
}

.table-body-item {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    text-align: center;
    gap: 20px;
    background-color: #f9f7ff;
    padding: 15px;
}

.best-musicians {
    padding: 15px 180px !important;
}

.best-musicians section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-body-item-row {
    text-align: center;
}

.soty-description {
    display: flex;
    flex-direction: column;
}

.row-genres {
    margin: 4px 0;
    font-style: italic;
}

@media (max-width: 768px) {
    .table-title {
        justify-content: center;
        padding: 30px 30px;
        font-size: large;
    }
    .table-body {
        padding: 0 30px;
        gap: 30px;
        border: none;
    }
    .table-body-item {
        margin: 0;
    }
    .best-musicians {
        padding: 15px !important;
    }
    .row-genres {
        margin: 0;
    }
    .another-year {
        display: none;
    }
}