
.table-title {
    padding: 30px 250px;
    text-align: center;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 0 300px;
    border: 1px solid gray;
}

.table-body-item {
    text-align: center;
    margin: 20px 0px;
}

.table-body-item-row {
    text-align: center;
    margin: 15px 0px;
}

.soty-description {
    display: flex;
    flex-direction: column;
}

.row-genres {
    margin: 5px 0;
    font-style: italic;
}