
.table-title {
    padding: 30px 0px;
    text-align: center;
}

.table-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0px;
    border: 1px solid gray;
}

.table-body-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}