
.table-title {
    padding: 30px 0px;
    text-align: center;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 30px 250px;
    border: 1px solid gray;
    gap: 50px;
}

.table-body-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px;
    gap: 50px;
}

.table-body-item-col {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.statistic {
    font-size: smaller;
}