
.table-title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 0px 300px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    gap: 10px;
}

.form-item {
    display: flex;
    flex-direction: row;
}

.table-body-item {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    border: 1px solid gray;
}

.entity-image {
    width: 46%;
    height: 150px;
    padding: 20px 100px 0px 0px;
    align-self: end;
    text-align: left;
}

.entity-image img {
    width: auto;
    max-height: 100%;
}

.form label {
    width: 40%;
    display: flex;
    align-self: center;
}

.form input {
    width: 60%;
}

.form select {
    width: 60%;
}

.major-field input {
    height: 100px;
}

.major-field select {
    height: 200px;
}

.input-submit {
    align-self: end;
    width: 60%;
}

.error {
    width: 60%;
    align-self: end;
}

th {
    text-align: center;
}

tr:hover {
    background-color: lightgray;
}