
.table {
    padding: 0 150px;
}

.table-title {
    padding: 30px 0;
    text-align: center;
}

.table-body {
    display: flex;
    flex-direction: column;
}

.table-body-item {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border: 1px solid gray;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    gap: 10px;
}

.form-item {
    display: flex;
    flex-direction: row;
}

.entity-image {
    padding: 20px 100px;
    width: 78%;
    text-align: right;
}

.entity-image img {
    max-width: 60%;
}

.form label {
    display: flex;
    width: 40%;
    align-self: center;
}

.form input {
    width: 60%;
}

.form select {
    width: 60%;
}

.major-field textarea {
    width: 60%;
    height: 150px;
}

.major-field-recipe textarea {
    width: 60%;
    height: 200px;
}

.major-field select {
    height: 150px;
}

.major-field span {
    width: 60%;
    min-height: 200px;
    background-color: white;
    white-space: break-spaces;
}

.manual-sheet {
    max-width: 59%;
    font-size: smaller;
    padding: 10px 0;
    padding-left: 7px;
    background-color: blanchedalmond;
}

.schema-upload-form {
    margin-top: 40px;
}

.input-submit {
    width: 60%;
    align-self: end;
}

.error {
    width: 60%;
    align-self: end;
}

table {
    empty-cells: show;
    border-spacing: 1px;
}

table tbody tr:nth-child(2n+1) {
    background: #f1f1f1;
}

table tbody tr:nth-child(2n) {
    background: #f8f8f8;
}

th, td {
    text-align: center;
}

.td-settings {
    padding: 0px 15px;
}

tr:hover {
    background-color: lightgray;
}