<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все альбомы</title>
    <link th:href="@{/styles/music/entity-all.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3>Все альбомы</h3>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <section class="table-body-item-row" th:each="album : ${albums}">
                <span class="table-body-item-col" th:text="${albumStat.index + 1} + '.'"></span>
                <span class="table-body-item-col rating" th:text="${album.rating}"></span>
                <span class="table-body-item-col" th:text="${album.title}"></span>
                <span class="table-body-item-col" th:text="${album.year}"></span>
                <span class="table-body-item-col">
                    <a th:text="${album.musicianNickname}" th:href="'/music/musician/' + ${album.musicianSlug}"></a>
                </span>
            </section>
        </article>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>