<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все альбомы</title>
    <link th:href="@{/styles/music/entity-all.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h3>Все альбомы</h3>
        </div>

        <div class="table-body">
            <div class="table-body-item">
                <div class="table-body-item-row" th:each="album : ${albums}">
                    <span class="table-body-item-col" th:text="${album.rating}"></span>
                    <span class="table-body-item-col" th:text="${album.year}"></span>
                    <span class="table-body-item-col" th:text="${album.title}"></span>
                    <span class="table-body-item-col" th:text="${album.musicianNickname}"></span>
                    <span th:each="genre : ${album.musicGenres}">
                            <span th:if="${genreStat.index + 1  < album.musicGenres.size}"
                                  th:text="${genre.title} + ','">
                            </span>
                            <span th:if="${genreStat.index + 1  == album.musicGenres.size}"
                                  th:text="${genre.title}">d
                            </span>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div th:insert="fragments/footer.html"></div>

</div>
</body>
</html>