<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все музыканты</title>
    <link th:href="@{/styles/music/entity-all.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h3>Все музыканты</h3>
        </div>

        <div class="table-body">
            <div class="table-body-item">
                <div class="table-body-item-row" th:each="musician : ${musicians}">
                    <span class="table-body-item-col" th:text="${musician.born}"></span>
                    <span class="table-body-item-col" th:text="${musician.nickName}"></span>
                    <span class="table-body-item-col" th:text="${musician.birthplace}"></span>
                    <span th:each="genre : ${musician.musicGenres}">
                            <span th:if="${genreStat.index + 1  < musician.musicGenres.size}"
                                  th:text="${genre.title} + ','">
                            </span>
                            <span th:if="${genreStat.index + 1  == musician.musicGenres.size}"
                                  th:text="${genre.title}">d
                            </span>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div th:insert="fragments/footer.html"></div>

</div>
</body>
</html>