<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${musicianViewDTO.nickName}"></title>
    <link th:href="@{/styles/music/musician.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-header">

            <div class="entity-image">
                <img th:src="|data:image;base64,${musicianViewDTO.image}|">
            </div>

            <div class="entity-information">

                <div class="nickname">
                    <h1 th:text="${musicianViewDTO.nickName}"></h1>
                </div>

                <div class="period" th:if="${not #lists.isEmpty(musicianViewDTO.musicPeriods)}">
                    Период:
                    <span th:each="period : ${musicianViewDTO.musicPeriods}">
                        <a th:href="'/music/period/' + ${period.slug}">
                            <span th:text="${period.title}"></span>
                        </a>
                    </span>
                </div>

                <div class="dates" th:if="${musicianViewDTO.born} != null">
                    Дата рождения: <span th:text="${musicianViewDTO.born}"></span>
                </div>

                <div class="dates" th:if="${not #strings.isEmpty(musicianViewDTO.birthplace)}">
                    Место рождения: <span th:text="${musicianViewDTO.birthplace}"></span>
                </div>

                <div class="dates" th:if="${musicianViewDTO.died} != null">
                    Дата смерти: <span th:text="${musicianViewDTO.died}"></span>
                </div>

                <div class="genre"
                     th:if="${not #lists.isEmpty(musicianViewDTO.musicGenres)}">
                    Жанр:
                    <span th:each="genre : ${musicianViewDTO.musicGenres}">
                        <a th:if="${genreStat.index + 1 < musicianViewDTO.musicGenres.size}"
                           th:href="'/music/' + ${genre.slug}"
                           th:text="${genre.title} + ','"></a>
                    </span>
                    <span th:each="genre : ${musicianViewDTO.musicGenres}">
                        <a th:if="${genreStat.index + 1 == musicianViewDTO.musicGenres.size}"
                           th:href="'/music/' + ${genre.slug}"
                           th:text="${genre.title}"></a>
                    </span>
                </div>

                <div class="spotify-link" th:if="${not #strings.isEmpty(musicianViewDTO.spotifyLink)}">
                    Лучшие произведения: <a th:href="${musicianViewDTO.spotifyLink}"><span>слушать в Spotify</span></a>
                </div>
            </div>

        </div>

        <div class="table-body">

            <div class="table-body-item events" th:if="${not #lists.isEmpty(musicianViewDTO.events)}">
                <div class="table-body-item-title">
                    <h2>Таймлайн</h2>
                </div>
                <div class="events-item" th:each="event : ${musicianViewDTO.events}">
                    <p class="item-year-index" th:text="${event.year}"></p>
                    <p th:text="${event.description}"></p>
                </div>
            </div>

            <div class="table-body-item best-works"
                 th:if="${not #lists.isEmpty(musicianViewDTO.essentialCompositions)}">
                <div class="table-body-item-title">
                    <h2>Лучшее</h2>
                </div>
                <div class="best-works-item" th:each="composition : ${musicianViewDTO.essentialCompositions}">
                    <p class="item-year-index" th:text="${compositionStat.index + 1}"></p>
                    <p th:text="${composition.title}"></p>
                </div>
            </div>

            <div class="table-body-item all-albums" th:if="${not #lists.isEmpty(musicianViewDTO.albums)}">
                <div class="table-body-item-title">
                    <h2>Альбомы</h2>
                </div>
                <div class="all-works-item" th:each="album : ${musicianViewDTO.albums}">
                    <p class="item-year-index" th:text="${album.year}"></p>
                    <p th:text="${album.title}"></p>
                    <p class="rating" th:text="${album.rating}"></p>
                    <p th:text="${album.highlights}"></p>
                </div>
            </div>

            <div class="table-body-item all-works" th:if="${not #lists.isEmpty(musicianViewDTO.compositions)}">
                <div class="table-body-item-title">
                    <h2>Все произведения</h2>
                </div>
                <div class="all-works-item" th:each="composition : ${musicianViewDTO.compositions}">

                    <p class="item-year-index" th:text="${composition.year}"></p>

                    <p th:if="${not #strings.isEmpty(composition.catalogNumber)}"
                       th:text="${composition.catalogNumber}"></p>

                    <p th:text="${composition.title}"></p>

                    <p class="rating" th:if="${composition.rating} != null"
                       th:text="${composition.rating}">
                    </p>

                    <p th:text="${composition.highlights}"></p>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="fragments/footer.html"></div>

</div>
</body>
</html>