<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Все музыканты</title>
    <link th:href="@{/styles/music/music-entity-all.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<div th:insert="fragments/header.html"></div>

<main class="table">

    <header class="table-title">
        <h3>Все музыканты</h3>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <section class="table-body-item-row" th:each="musician : ${musicians}">
                <span class="table-body-item-col" th:if="${musician.born} != null"
                      th:text="${musician.born}">
                </span>
                <span class="table-body-item-col" th:if="${musician.founded} != null"
                      th:text="${musician.founded}">
                </span>
                <span class="table-body-item-col nickname">
                    <a th:text="${musician.nickName}" th:href="'/music/musician/' + ${musician.slug}"></a>
                </span>
                <span class="table-body-item-col">
                    <span th:each="genre : ${musician.musicGenres}">
                        <span class="column-genre" th:if="${genreStat.index + 1  < musician.musicGenres.size}"
                              th:text="${genre.title} + ', '">
                        </span>
                        <span class="column-genre" th:if="${genreStat.index + 1  == musician.musicGenres.size}"
                              th:text="${genre.title}">
                        </span>
                    </span>
                </span>
            </section>
        </article>

    </div>

</main>

<div th:insert="fragments/footer.html"></div>

</body>
</html>