<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Систематизированная информация о стилях и жанрах музыки, классических и современных произведениях,
          известных композиторах и фактах из музыкальной истории.">
    <meta name="keywords"
          content="history of music, music evolution, music timeline, music genres, music periods, greatest albums of
          all time, albums of the year, best musicians, medieval music, renaissance music, baroque music, classical music,
          romantic music, music of modernism">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Музыка</title>
    <link th:href="@{/styles/section-main-page.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3>Музыка</h3>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <h3>Списки и графики:</h3>
            <a href="/music/album/top100">Топ 100 лучших альбомов</a>
            <a href="/music/musician/all">Музыканты</a>
            <a href="/music/album/all">Альбомы</a>
            <a href="/music/timeline-of-music">Краткая история музыки</a>
        </article>

        <article class="table-body-item">
            <h3>Эпохи:</h3>
            <span th:each="period : ${musicPeriodList}">
                <a th:text="${period.title}" th:href="'/music/period/' + ${period.slug}"></a>
            </span>
        </article>

        <article class="table-body-item">
            <h3>Итоги года:</h3>
            <span th:each="year : ${yearsInMusic}">
                <a th:text="${year.title}" th:href="'/music/lists-and-charts/' + ${year.slug}"></a>
            </span>
        </article>

        <article class="table-body-item">
            <h3>Альбомные рейтинги:</h3>
            <div class="table-body-item-row">
                <span th:each="year : ${albumRatings}">
                    <a th:text="${year}" th:href="'/music/lists-and-charts/albums-of-' + ${year}"></a>
                </span>
            </div>
            <div class="table-body-item-row decades">
                <span>
                    <a th:text="2010-е" th:href="'/music/lists-and-charts/albums-of-2010s'"></a>
                </span>
                <span>
                    <a th:text="2020-е" th:href="'/music/lists-and-charts/albums-of-2020s'"></a>
                </span>
            </div>
        </article>


        <article class="table-body-item">
            <h3>Классические жанры и формы:</h3>
            <span th:each="genre : ${classicalMusicGenres}">
                <a th:text="${genre.title} + ' (' + ${genre.count} + ') '"
                   th:href="'/music/genre/' + ${genre.slug}"></a>
            </span>
        </article>

        <article class="table-body-item">
            <h3>Современные жанры и направления:</h3>
            <span th:each="genre : ${contemporaryMusicGenres}">
                <a th:text="${genre.title} + ' (' + ${genre.count} + ') '"
                   th:href="'/music/genre/' + ${genre.slug}"></a>
            </span>
        </article>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>