<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${musicPeriod.title}"></title>
    <link th:href="@{/styles/music/genre-period.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3 th:text="${musicPeriod.title + ' (' + musicPeriod.approximateStart + ' - ' + musicPeriod.approximateEnd} + ') '"></h3>
    </header>

    <div class="table-body">
        <article class="table-body-item">
            <header class="table-body-item-title">
                <h3>Музыканты</h3>
            </header>
            <section class="table-body-item-row" th:each="musician : ${musicians}">
                <span class="table-body-item-col" th:text="${musicianStat.index + 1} + '.'"></span>
                <span class="table-body-item-col">
                        <a th:text="${musician.nickName}"
                           th:href="'/music/musician/' + ${musician.slug}"></a>
                </span>
            </section>
        </article>

        <article class="table-body-item">
            <header class="table-body-item-title">
                <h3>Произведения (лучшее)</h3>
            </header>
            <section class="table-body-item-row" th:each="composition : ${compositions}">
                <span class="table-body-item-col" th:text="${compositionStat.index + 1} + '.'"></span>
                <span class="table-body-item-col">
                        <a th:text="${composition.musicianNickname}"
                           th:href="'/music/musician/' + ${composition.musicianSlug}"></a>
                </span>
                <span class="table-body-item-col title" th:text="${composition.title}"></span>
                <span class="table-body-item-col" th:if="${composition.catalogNumber} != null"
                      th:text="${composition.catalogTitle + ' ' + composition.catalogNumber}"></span>
                <span class="table-body-item-col" th:if="${composition.year} != null"
                      th:text="'(' + ${composition.year} + ')'"></span>
                <span class="table-body-item-col rating" th:text="${composition.rating}"></span>
            </section>
        </article>
    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>