<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" th:content="'Articles and reviews of works by ' + ${musician.nickName}">
    <meta name="keywords" th:content="${musician.nickName}">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title th:text="${musician.nickName}"></title>
    <link th:href="@{/styles/music/musician.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <section class="table-title-image" th:if="${musician.image} != null">
            <img th:src="|data:image;base64,${musician.image}|">
        </section>
        <h1 th:text="${musician.nickName}"></h1>
        <h3 class="occupation" th:if="${not #strings.isEmpty(musician.occupation)}"
            th:text="${musician.occupation}"></h3>
    </header>

    <div class="table-body">
        <article class="table-body-item">
            <header class="table-body-item-title">
                <h3>Резюме</h3>
            </header>

            <section class="table-title-item-row"
                     th:if="${musician.born} != null and ${musician.died} == null">
                <span>Дата рождения:</span>
                <span th:text="${musician.born}"></span>
            </section>

            <section class="table-title-item-row"
                     th:if="${musician.born} != null and ${musician.died} != null">
                <span>Годы жизни:</span>
                <span th:text="${musician.born} + ' - ' + ${musician.died}"></span>
            </section>

            <section class="table-title-item-row" th:if="${musician.founded} != null">
                <span>Дата основания:</span>
                <span th:text="${musician.founded}"></span>
            </section>

            <section class="table-title-item-row" th:if="${not #strings.isEmpty(musician.birthplace)}">
                <span>Место рождения:</span>
                <span th:text="${musician.birthplace}"></span>
            </section>

            <section class="table-title-item-row" th:if="${not #strings.isEmpty(musician.based)}">
                <span>Расположение:</span>
                <span th:text="${musician.based}"></span>
            </section>

            <section class="table-title-item-row period" th:if="${not #lists.isEmpty(musician.musicPeriods)}">
                <span>Период:</span>
                <span th:each="period : ${musician.musicPeriods}">
                    <a th:if="${periodStat.index + 1 < musician.musicPeriods.size}"
                       th:href="'/music/period/' + ${period.slug}"
                       th:text="${period.title} + ', '"></a>

                    <a th:if="${periodStat.index + 1 == musician.musicPeriods.size}"
                       th:href="'/music/period/' + ${period.slug}"
                       th:text="${period.title}"></a>
                </span>
            </section>

            <section class="table-title-item-row genre" th:if="${not #lists.isEmpty(musician.musicGenres)}">
                <span>Жанры:</span>
                <span th:each="genre : ${musician.musicGenres}">
                    <a th:if="${genreStat.index + 1 < musician.musicGenres.size}"
                       th:href="'/music/genre/' + ${genre.slug}"
                       th:text="${genre.title} + ', '"></a>

                    <a th:if="${genreStat.index + 1 == musician.musicGenres.size}"
                       th:href="'/music/genre/' + ${genre.slug}"
                       th:text="${genre.title}"></a>
                </span>
            </section>

            <section class="table-title-item-row" th:if="${not #strings.isEmpty(musician.spotifyLink)}">
                <span>Лучшие произведения:</span>
                <a th:href="${musician.spotifyLink}" target="_blank">слушать в Spotify</a>
            </section>
        </article>

        <article class="table-body-item" th:if="${not #lists.isEmpty(musician.events)}">
            <header class="table-body-item-title">
                <h3>Жизнеописание</h3>
            </header>
            <section class="table-body-item-row" th:each="timelineEvent : ${musician.events}">
                <div class="timeline-text" th:if="${timelineEvent.year} != null" th:utext="${timelineEvent.year}"></div>
                <span class="timeline-text" th:utext="${timelineEvent.description}"></span>
            </section>
        </article>

        <article class="table-body-item" th:if="${not #lists.isEmpty(musician.essentialCompositions)}">
            <header class="table-body-item-title">
                <h3>Лучшее</h3>
            </header>
            <section class="table-body-item-row" th:each="composition : ${musician.essentialCompositions}">
                <span th:text="${compositionStat.index + 1} + '.'"></span>
                <span th:text="${composition.title}"></span>
                <span class="table-body-item-col catalog-number" th:if="${composition.catalogNumber} != null"
                      th:text="${musician.catalogTitle + ' ' + composition.catalogNumber}"></span>
                <span class="rating" th:text="${composition.rating}"></span>
            </section>
        </article>

        <article class="table-body-item" th:if="${not #lists.isEmpty(musician.albums)}">
            <header class="table-body-item-title">
                <h3>Альбомы</h3>
            </header>
            <section class="table-body-item-row" th:each="album : ${musician.albums}">
                <span th:if="${album.year} != null" th:text="${album.year}"></span>
                <span th:if="${album.year} == null">????</span>
                <div>
                    <span class="title" th:text="${album.title}"></span>
                    <span class="collaborators" th:if="${not #lists.isEmpty(album.collaborators)}">
                        <span>(with </span>
                        <span th:each="collaborator : ${album.collaborators}">
                            <a th:href="'/music/musician/' + ${collaborator.slug}"
                               th:text="${collaborator.nickName}">
                            </a>
                        </span>
                        <span>)</span>
                    </span>
                    <span class="rating" th:text="${album.rating}"></span>
                    <span th:text="${album.highlights}"></span>
                </div>
            </section>
        </article>

        <article class="table-body-item" th:if="${not #lists.isEmpty(musician.collaborations)}">
            <header class="table-body-item-title">
                <h3>Сотрудничества</h3>
            </header>
            <section class="table-body-item-row" th:each="collaboration : ${musician.collaborations}">
                <span th:if="${collaboration.year} != null" th:text="${collaboration.year}"></span>
                <span th:if="${collaboration.year} == null">????</span>
                <div>
                    <span class="lead-performer">
                        <a th:text="${collaboration.musicianNickname}"
                           th:href="'/music/musician/' + ${collaboration.musicianSlug}">
                        </a>
                    </span>
                    <span class="title" th:text="${collaboration.title}"></span>
                    <span class="collaborators" th:if="${not #lists.isEmpty(collaboration.collaborators)}">
                        <span>(with </span>
                        <span th:each="collaborator : ${collaboration.collaborators}">
                            <span th:text="${collaborator.nickName}"></span>
                        </span>
                        <span>)</span>
                    </span>
                    <span class="rating" th:text="${collaboration.rating}"></span>
                </div>
            </section>
        </article>

        <article class="table-body-item"
                 th:if="${not #lists.isEmpty(musician.compositions)} and ${#lists.isEmpty(musician.albums)}">
            <header class="table-body-item-title">
                <h3>Все произведения</h3>
            </header>
            <section class="table-body-item-row" th:each="composition : ${musician.compositions}">
                <span class="table-body-item-col catalog-number" th:if="${composition.catalogNumber} != null"
                      th:text="${musician.catalogTitle + ' ' + composition.catalogNumber}"></span>
                <div class="table-body-item-col-container">
                    <span class="table-body-item-col title" th:text="${composition.title}"></span>
                    <span class="table-body-item-col year" th:if="${composition.year} != null"
                          th:text="'(' + ${composition.year} + ')'"></span>
                    <span class="table-body-item-col rating" th:text="${composition.rating}"></span>
                    <span class="table-body-item-col highlights" th:text="${composition.highlights}"></span>
                    <span th:if="${not #lists.isEmpty(composition.lyrics)}">
                        <button type="button" class="lyrics">текст</button>
                        <span class="content">
                            <p th:utext="${composition.lyrics}"></p>
                            <br>
                            <p th:utext="${composition.translation}"></p>
                        </span>
                    </span>
                </div>
            </section>
        </article>
    </div>
</main>

<script th:inline="javascript">
    var coll = document.getElementsByClassName("lyrics");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>