<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Музыка</title>
    <link th:href="@{/styles/music/music-page.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3>Музыка</h3>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <h3>Списки и графики</h3>
            <span th:each="yearInMusic : ${yearInMusicList}">
                <a th:text="${yearInMusic.title}" th:href="'/music/lists-and-charts/' + ${yearInMusic.slug}"></a>
            </span>
            <a href="/music/musician/all">Все музыканты</a>
            <a href="/music/album/all">Все альбомы</a>
            <a href="/music/timeline-of-music">Краткая история музыки</a>
        </article>

        <article class="table-body-item">
            <h3>Эпохи</h3>
            <span th:each="period : ${musicPeriods}">
                <a th:text="${period.title}" th:href="'/music/period/' + ${period.slug}"></a>
            </span>
        </article>

        <article class="table-body-item">
            <h3>Эпохи</h3>
            <span th:each="period : ${musicPeriods}">
                <a th:text="${period.title}" th:href="'/music/period/' + ${period.slug}"></a>
            </span>
        </article>

        <article class="table-body-item">
            <h3>Классические жанры</h3>
            <span th:each="genre : ${classicalMusicGenres}">
                <a th:text="${genre.title} + ' (' + ${genre.count} + ') '"
                   th:href="'/music/genre/' + ${genre.slug}"></a>
            </span>
        </article>

        <article class="table-body-item">
            <h3>Современные жанры</h3>
            <span th:each="genre : ${contemporaryMusicGenres}">
                <a th:text="${genre.title} + ' (' + ${genre.count} + ') '"
                   th:href="'/music/genre/' + ${genre.slug}"></a>
            </span>
        </article>

        <article class="table-body-item">
            <h3></h3>
            <span th:each="genre : ${contemporaryMusicGenres}">
                <a th:text="${genre.title} + ' (' + ${genre.count} + ') '"
                   th:href="'/music/genre/' + ${genre.slug}"></a>
            </span>
        </article>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>