<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${period.label}"></title>
    <link th:href="@{/styles/music/genre-period-tables.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h3 th:text="${period.label}"></h3>
        </div>

        <div class="table-body">
            <div class="table-body-item" th:each="composition : ${compositions}">
                <p th:text="${composition.musician.nickName + ' - ' + composition.title}"></p>
            </div>
        </div>

    </div>

    <div th:insert="fragments/footer.html"></div>

</div>
</body>
</html>