<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${SOTYList.title}"></title>
    <link th:href="@{/styles/music/soty-list.css}" rel="stylesheet">

</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h3 th:text="${SOTYList.title}"></h3>
        </div>

        <div class="table-body">
            <div class="table-body-item description">
                <p th:text="${SOTYList.description}"></p>
                <a th:href="${SOTYList.spotifyLink}" target="_blank">
                    <p>Слушать в Spotify</p>
                </a>
            </div>

            <div class="table-body-item">
                <div th:each="composition : ${compositions}">
                    <span th:text="${composition.musician.nickName + ' - ' + composition.title}"></span>
                    <div th:each="contemporaryGenre : ${composition.contemporaryGenres}">
                        <span th:text="${contemporaryGenre.label}"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:insert="fragments/footer.html"></div>

</div>

</body>
</html>