<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${SOTYList.title}"></title>
    <link th:href="@{/styles/music/soty-list.css}" rel="stylesheet">

</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h2 th:text="${SOTYList.title}"></h2>
        </div>

        <div class="table-body">
            <div class="table-body-item description">
                <p th:text="${SOTYList.description}"></p>
                <a th:href="${SOTYList.spotifyLink}" target="_blank">
                    <p>Слушать в Spotify</p>
                </a>
            </div>

            <div class="table-body-item soty-list">
                <div class="soty-list-item" th:each="composition : ${compositions}">
                    <div class="song-title">
                        <span th:text="${compositionStat.index + 1} + '.'"></span>
                        <span th:text="${composition.musicianNickname + ' - ' + composition.title + ' ' + composition.feature}"></span>
                    </div>
                    <div class="song-genres">
                        <span th:each="genre : ${composition.musicGenres}">
                            <span th:if="${genreStat.index + 1  < composition.genre.size}"
                                  th:text="${genre.label} + ','"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:insert="fragments/footer.html"></div>

</div>

</body>
</html>