<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${SOTYList.title}"></title>
    <link th:href="@{/styles/music/soty-list.css}" rel="stylesheet">

</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3 th:text="${SOTYList.title}"></h3>
        <section class="table-title-description">
            <span th:text="${SOTYList.description}"></span>
            <a th:href="${SOTYList.spotifyLink}" target="_blank">Слушать в Spotify</a>
        </section>
    </header>

    <div class="table-body">

        <article class="table-body-item">
            <section class="table-body-item-row" th:each="composition : ${compositions}">
                <section class="song-title">
                    <span th:text="${compositionStat.index + 1} + '.'"></span>
                    <span th:text="${composition.musicianNickname}"></span>
                    <span> - </span>
                    <span th:text="${composition.title}"></span>
                    <span th:text="${composition.feature}"></span>
                </section>
                <section class="song-genres">
                    <span th:each="genre : ${composition.musicGenres}">
                        <span th:if="${genreStat.index + 1  < composition.musicGenres.size}"
                              th:text="${genre.title} + ', '">
                        </span>
                        <span th:if="${genreStat.index + 1  == composition.musicGenres.size}"
                              th:text="${genre.title}">d
                        </span>
                    </span>
                </section>
            </section>
        </article>
    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>