<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Краткая история музыки</title>
    <link th:href="@{/styles/music/timeline-of-music.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3>Краткая история музыки</h3>
    </header>

    <div class="table-body">
        <article class="table-body-item" th:each="event : ${timeline.events}">
            <p th:text="${event.date + ' ' + event.description}"></p>
        </article>
    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>