<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Краткая история музыки</title>
    <link th:href="@{/styles/music/timeline-of-music.css}" rel="stylesheet">
    <link th:href="@{/styles/title-note.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3>Краткая история музыки</h3>
        <p class="table-title-note">в процессе...</p>
    </header>

    <div class="table-body">
        <article class="table-body-item">
            <section th:if="${not #lists.isEmpty(eventsBCE)}">
                <h3>События до нашей эры</h3>
                <section class="table-body-item-row" th:each="timelineEvent : ${eventsBCE}">
                    <span th:text="${timelineEvent.year}"></span>
                    <span th:text="${timelineEvent.description}"></span>
                </section>
            </section>

            <section th:if="${not #lists.isEmpty(eventsCE)}">
                <h3>Наша эра</h3>
                <section class="table-body-item-row" th:each="timelineEvent : ${eventsCE}">
                    <span th:text="${timelineEvent.year}"></span>
                    <span class="description" th:text="${timelineEvent.description}"></span>
                </section>
            </section>
        </article>
    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>