<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${yearInMusic.title}"></title>
    <link th:href="@{/styles/music/year-in-music.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h3 th:text="${yearInMusic.title}"></h3>
    </header>

    <div class="table-body">

        <article class="table-body-item best-musicians" th:if="${not #strings.isEmpty(yearInMusic.bestFemaleSinger)}">
            <header class="table-body-item-title">
                <h3>Лучшие исполнители</h3>
            </header>

            <section class="table-body-item-row" th:if="${not #strings.isEmpty(yearInMusic.bestFemaleSinger)}">
                <span>Женский вокал:</span>
                <span>
                    <a th:text="${yearInMusic.bestFemaleSinger}"
                       th:href="'/music/musician/' + ${yearInMusic.bestFemaleSingerSlug}"></a>
                </span>
            </section>

            <section class="table-body-item-row" th:if="${not #strings.isEmpty(yearInMusic.bestMaleSinger)}">
                <span>Мужской вокал:</span>
                <span>
                    <a th:text="${yearInMusic.bestMaleSinger}"
                       th:href="'/music/musician/' + ${yearInMusic.bestMaleSingerSlug}"></a>
                </span>
            </section>

            <section class="table-body-item-row" th:if="${not #strings.isEmpty(yearInMusic.bestGroup)}">
                <span>Музыкальная группа:</span>
                <span>
                    <a th:text="${yearInMusic.bestGroup}"
                       th:href="'/music/musician/' + ${yearInMusic.bestGroupSlug}"></a>
                </span>
            </section>

            <section class="table-body-item-row" th:if="${not #strings.isEmpty(yearInMusic.bestComposer)}">
                <span>Композитор:</span>
                <span>
                    <a th:text="${yearInMusic.bestComposer}"
                       th:href="'/music/musician/' + ${yearInMusic.bestComposerSlug}"></a>
                </span>
            </section>
        </article>

        <article class="table-body-item" th:if="${not #lists.isEmpty(albums)}">
            <header class="table-body-item-title">
                <h3>Лучшие альбомы</h3>
            </header>

            <section class="table-body-item-row soty-description">
                <span th:if="${not #strings.isEmpty(yearInMusic.aotyListDescription)}"
                      th:text="${yearInMusic.aotyListDescription}"></span>
                <span th:if="${not #strings.isEmpty(yearInMusic.aotySpotifyLink)}">
                    <a th:href="${yearInMusic.aotySpotifyLink}">Слушать в Spotify</a>
                </span>
            </section>

            <section class="table-body-item-row" th:each="album : ${albums}">
                <section class="row-title">
                    <span th:text="${albumStat.index + 1} + '.'"></span>
                    <span>
                        <a th:text="${album.musicianNickname}" th:href="'/music/musician/' + ${album.musicianSlug}"></a>
                    </span>
                    <span> - </span>
                    <span th:text="${album.title}"></span>
                </section>
                <section class="row-genres">
                    <span th:each="genre : ${album.musicGenres}">
                        <span th:if="${genreStat.index + 1  < album.musicGenres.size}"
                              th:text="${genre.title} + ', '">
                        </span>
                        <span th:if="${genreStat.index + 1  == album.musicGenres.size}"
                              th:text="${genre.title}">d
                        </span>
                    </span>
                </section>
            </section>
        </article>

        <article class="table-body-item" th:if="${not #lists.isEmpty(compositions)}">
            <header class="table-body-item-title">
                <h3>Лучшие композиции</h3>
            </header>

            <section class="table-body-item-row soty-description">
                <span th:if="${not #strings.isEmpty(yearInMusic.sotyListDescription)}"
                      th:text="${yearInMusic.sotyListDescription}"></span>
                <span th:if="${not #strings.isEmpty(yearInMusic.sotySpotifyLink)}">
                    <a th:href="${yearInMusic.sotySpotifyLink}">Слушать в Spotify</a>
                </span>
            </section>

            <section class="table-body-item-row" th:each="composition : ${compositions}">
                <section class="row-title">
                    <span th:text="${compositionStat.index + 1} + '.'"></span>
                    <span>
                        <a th:text="${composition.musicianNickname}"
                           th:href="'/music/musician/' + ${composition.musicianSlug}"></a>
                    </span>
                    <span> - </span>
                    <span th:text="${composition.title}"></span>
                    <span th:text="${composition.feature}"></span>
                </section>
                <section class="row-genres">
                    <span th:each="genre : ${composition.musicGenres}">
                        <span th:if="${genreStat.index + 1  < composition.musicGenres.size}"
                              th:text="${genre.title} + ', '">
                        </span>
                        <span th:if="${genreStat.index + 1  == composition.musicGenres.size}"
                              th:text="${genre.title}">d
                        </span>
                    </span>
                </section>
            </section>
        </article>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>