<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title></title>
    <link th:href="@{/styles/error.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h1>Something went wrong! </h1>
    </header>

    <div class="table-body">
        <a href="/">вернуться на главную</a>
    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>