<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/error.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-title">
            <h1>Something went wrong! </h1>
        </div>

        <div class="table-body">
            <a href="/">вернуться на главную</a>
        </div>

    </div>

    <div th:insert="fragments/footer.html"></div>

</div>
</body>
</html>