<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Онлайн-энциклопедия. Музыка, гастрономия, живопись, литература.">
    <meta name="keywords"
          content="дмитрий шундрик, шундрик, музыка, гастрономия, живопись, литература, dmitry shundrik, shundrik, music,
          gastronomy, painting, literature">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Дмитрий Шундрик</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <script th:src="@{/library/jquery-3.7.1.min.js}"></script>
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<script th:inline="javascript">
    var currentSong = function () {
        $.post({
            url: "/current-song"
        }).then(function (result) {
            var object = $.parseJSON(result);
            if (object.playing) {
                $('#section-now-playing-id').css("display", "flex");
                $('#current-song-image-id').attr("src", object.images);
                $('#current-song-artists-id').text(object.artists);
                $('#current-song-artists-id').attr("href", object.artistSlug);
                $('#current-song-name-id').text(object.name);
                $('#current-song-music-genres').text(object.musicGenres);
                $('#current-song-year-end-rank').text(object.yearEndRank);
            } else {
                $('#section-now-playing-id').css("display", "none");
            }
        });
    }
    currentSong();
    setInterval(currentSong, 6000);
</script>

<main class="table">

    <div class="table-body">
        <article class="table-body-item">
            <h2 class="table-body-item-title archive-title">Архив</h2>
            <section class="section">
                <h3 class="section-title"><a href="/music/">Музыка</a></h3>
                <div class="section-body">
                    <span th:each="yearInMusic : ${yearInMusicList}">
                        <a th:text="${yearInMusic.title}"
                           th:href="'/music/lists-and-charts/' + ${yearInMusic.slug}">
                        </a>
                    </span>
                    <a href="/music/album/top100">Топ 100 лучших альбомов</a>
                    <a href="/music/composition/top100">Топ 100 лучших классических произведений</a>
                    <a href="/music/musician/all">Музыканты</a>
                    <a href="/music/album/all">Альбомы</a>
                    <a href="/music/listening-stats">Статистика прослушиваний</a>
                    <a href="/music/timeline-of-music">Краткая история музыки</a>
                </div>
            </section>

            <section class="section">
                <h3 class="section-title"><a href="/gastronomy/">Гастрономия</a></h3>
                <div class="section-body">
                    <a href="/gastronomy/recipe/all">Рецепты</a>
                </div>
            </section>

            <section class="section">
                <h3 class="section-title"><a href="/literature/">Литература</a></h3>
                <div class="section-body">
                    <a href="/literature/writer/all">Писатели</a>
                    <a href="/literature/prose/all">Проза и поэзия</a>
                    <a href="/literature/quote/all">Цитаты</a>
                </div>
            </section>

            <section class="section">
                <h3 class="section-title"><a href="/art/">Искусство</a></h3>
                <div class="section-body">
                    <a href="/art/artist/all">Художники</a>
                    <a href="/art/painting/all">Картины</a>
                    <a href="/art/painting/top20">Топ 25 лучших произведений живописи</a>
                    <a href="/art/museum/all">Музеи</a>
                    <a href="/art/theatre/all">Театры</a>
                </div>
            </section>

            <section class="section">
                <h3 class="section-title"><a href="/cinema">Кино</a></h3>
                <div class="section-body">
                    <a href="/cinema/film/top20">Топ 20 лучших фильмов</a>
                    <a href="/cinema/international-critics">Международная критика</a>
                </div>
            </section>

            <section class="section" th:if="${not #lists.isEmpty(currentEvents)}">
                <h3 class="section-title">Календарь событий:</h3>
                <div class="section-body section-body-current-events">
                    <div th:each="event : ${currentEvents}">
                        <span class="current-events-date" th:text="${event.date}"></span>
                        <span th:text="${event.dateType}"></span>
                        <span th:text="${event.occupation}"></span>
                        <a th:href="${event.personLink}" th:text="${event.personNickname}"></a>
                    </div>
                </div>
            </section>

            <section class="section">
                <h3 class="section-title">Погода в Минске:</h3>
                <div class="section-body-current-weather">
                    <div class="weather-item">
                        <span>Температура:</span>
                        <span id="weather-temp" th:text="${currentWeather.temp() + ' °C'}"></span>
                    </div>
                    <div class="weather-item">
                        <span>Влажность:</span>
                        <span id="weather-humidity" th:text="${currentWeather.humidity() + ' %'}"></span>
                    </div>
                    <div class="weather-item">
                        <span>Скорость ветра:</span>
                        <span id="weather-wind-speed" th:text="${currentWeather.wingSpeed() + ' м/с'}"></span>
                    </div>
                </div>
            </section>

            <section class="section" id="section-now-playing-id" style="display: none">
                <h3 class="section-title">Плеер Spotify:</h3>
                <div class="section-body section-body-current-song">
                    <div class="current-song-image">
                        <img th:id="current-song-image-id" alt="Current song artwork">
                    </div>
                    <div class="current-song-title">
                        <a th:id="current-song-artists-id"></a>
                        <span> - </span>
                        <span th:id="current-song-name-id"></span>
                        <img class="now-playing-gif" src="/images/nowplaying.gif" alt="Now playing">
                        <p th:id="current-song-music-genres"></p>
                    </div>
                    <div class="current-song-achievements">
                        <span th:id="current-song-year-end-rank"></span>
                    </div>
                </div>
            </section>
        </article>

        <aside class="table-body-item">
            <h2 class="table-body-item-title latest-title">Последнее</h2>
            <section class="table-body-item-row">
                <span th:each="update : ${latestUpdates}">
                    <span class="update-section" th:text="${update.archiveSection}"></span>
                    <a class="update-link-description" th:href="${update.link}" th:text="${update.description}"></a>
                    <span class="update-is-new" th:if="${update.isNew}" th:text=" NEW "></span>
                </span>
            </section>
        </aside>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>