<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>дмитрий шундрик</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <div class="table-body">
        <article class="table-body-item">

            <h2 class="table-body-item-title archive-title">Архив</h2>
            <section class="section">
                <h3 class="section-title"><a href="music/">Музыка</a></h3>
                <div class="section-body">
                    <span th:each="yearInMusic : ${yearInMusicList}">
                        <a th:text="${yearInMusic.title}"
                           th:href="'/music/lists-and-charts/' + ${yearInMusic.slug}"></a>
                    </span>
                    <a href="/music/musician/all">Все музыканты</a>
                    <a href="/music/album/all">Все альбомы</a>
                    <a href="/music/timeline-of-music">Краткая история музыки</a>
                </div>
            </section>

            <section class="section">
                <h3 class="section-title"><a href="music/gastronomy-page.html">Гастрономия</a></h3>
                <div class="section-body">
                    <a href="#">Рецепты</a>
                </div>
            </section>

        </article>

        <aside class="table-body-item">

            <h2 class="table-body-item-title latest-title">Последнее</h2>
            <section class="table-body-item-row">

                <span th:each="update : ${latestUpdates}">
                    <span th:text="${update.created}"></span>
                    <span th:text="${update.archiveSection}"></span>
                    <a th:href="${update.link}" th:text="${update.description}"></a>
                </span>

            </section>

        </aside>

    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>