<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Музыка</title>
</head>
<body>

<div class="container">

    <div th:insert="fragments/header.html"></div>

    <div class="table">

        <div class="table-item">
            <h2>Рейтинги по годам</h2>
            <div th:each="SOTYList : ${SOTYLists}">
                <a th:text="${SOTYList.title}" th:href="'/music/best-songs-' + ${SOTYList.slug}"></a>
                <br>
            </div>
            <a href="/music/timeline-of-music">Краткая история музыки</a>
        </div>

        <div class="table-item">
            <h2>Эпохи</h2>
            <div th:each="period : ${periods}">
                <a th:text="${period.label}" ></a>
            </div>
        </div>

        <div class="table-item">
            <h2>Стили и формы</h2>
            <div th:each="style : ${styles}">
                <a th:text="${style.label}" ></a>
            </div>
        </div>

        <div class="table-item">
            <h2>Жанры</h2>
            <div th:each="genre : ${genres}">
                <a th:text="${genre.label}" th:href="'/music/genres/' + ${genre.slug}"></a>
            </div>
        </div>

    </div>
</div>

</body>
</html>