
.table-title {
    padding: 30px 275px;
    text-align: center;
}

.table-body {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
}

.table-body-item {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.table-body-item-row {
    text-align: justify;
    line-height: 1.6em;
}

.table-body-item-row div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    text-align: center;
}

.ingredients span{
    text-align: center;
}

@media (max-width: 768px) {
    .table-title {
        padding: 30px 30px;
        font-size: large;
    }
    .table-body {
        padding: 0 30px;
        gap: 30px;
        border: none;
    }
    .table-body-item {
        margin: 0;
    }

}