<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-create-edit-management.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h4>создать quote</h4>
    </header>

    <div class="table-body">
        <article class="table-body-item">
            <form class="form"
                  th:action="${'/management/writer/edit/' + quoteDTO.writerSlug + '/quote/create'}"
                  th:method="post"
                  th:object="${quoteDTO}">

                <section class="form-item">
                    <label>writer</label>
                    <input disabled type="text" th:field="*{writerNickname}"/>
                </section>

                <section class="form-item">
                    <label>prose</label>
                    <select th:field="*{proseId}">
                        <option th:value="null" selected>выбрать произведение</option>
                        <option th:each="prose : ${proseSelectDTOList}"
                                th:value="${prose.id}"
                                th:text="${prose.title}"></option>
                    </select>
                </section>

                <section class="form-item">
                    <label>location</label>
                    <input type="text" th:field="*{location}"/>
                </section>

                <section class="form-item major-field">
                    <label>description</label>
                    <textarea th:field="*{description}"></textarea>
                </section>

                <input class="input-submit" type="submit" value="Создать"/>
            </form>
        </article>
    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>