<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/styles/management/entity-create-edit-management.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header.html"></header>

<main class="table">

    <header class="table-title">
        <h4>создать quote</h4>
    </header>

    <div class="table-body">
        <article class="table-body-item">
            <form class="form"
                  th:action="${'/management/writer/edit/' + quote.writerSlug + '/quote/create'}"
                  th:method="post"
                  th:object="${quote}">

                <section class="form-item">
                    <label>writer</label>
                    <input disabled type="text" th:field="*{writerNickname}"/>
                </section>

                <section class="form-item">
                    <label>prose</label>
                    <select th:field="*{proseId}">
                        <option th:value="null" selected>выбрать произведение</option>
                        <option th:each="prose : ${proseList}"
                                th:value="${prose.id}"
                                th:text="${prose.title}"></option>
                    </select>
                </section>

                <section class="form-item">
                    <label>publication</label>
                    <input type="text" th:field="*{publication}"/>
                </section>

                <section class="form-item">
                    <label>location</label>
                    <input type="text" th:field="*{location}"/>
                </section>

                <section class="form-item">
                    <label>page</label>
                    <input type="number" th:field="*{page}"/>
                </section>

                <section class="form-item major-field">
                    <label>description</label>
                    <textarea th:field="*{description}"></textarea>
                </section>

                <section class="form-item major-field">
                    <label>description html</label>
                    <textarea th:field="*{descriptionHtml}"></textarea>
                </section>

                <section class="form-item major-field">
                    <label>manual</label>
                    <div class="manual-sheet">
                        <p>&lt;p&gt;&lt;/p&gt;</p>
                        <p>&lt;b&gt;&lt;/b&gt;</p>
                        <p>&lt;i&gt;&lt;/i&gt;</p>
                        <p>&lt;img class=&quot;archive-images&quot; src=&quot;http://dmitryshundrik.com/storage/images/&quot;&gt;</p>
                    </div>
                </section>

                <input class="input-submit" type="submit" value="Создать"/>
            </form>
        </article>
    </div>

</main>

<footer th:insert="fragments/footer.html"></footer>

</body>
</html>