
.table-body {
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
    justify-content: space-around;
}

.table-body-item {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.table-body-item-title {
    padding-bottom: 3px;
    border-bottom: 1px solid gray;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    gap: 10px;
    font-size: 17px;
}

.section-body {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 5px;
}

.archive-title {
    text-align: left;
}

.latest-title {
    text-align: right;
}

.table-body-item-row {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 25px 0;
    gap: 10px;
}
