
.table-body {
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
    justify-content: space-around;
}

.table-body-item {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #f9f7ff;
    padding: 15px;
}

.table-body-item-title {
    padding-bottom: 3px;
    border-bottom: 1px solid gray;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    gap: 10px;
}

.section-body {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 5px;
}

.archive-title {
    text-align: left;
}

.latest-title {
    text-align: right;
}

.update-is-new {
    color:red;
}

.see-all-updates {
    text-align: -webkit-center;
}

@media (max-width: 768px) {
    .latest-title {
        text-align: left;
    }
}

.table-body-item-row {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    gap: 10px;
}

@media (max-width: 768px) {
    .table-body {
        display: flex;
        flex-direction: column;
        padding: 46px 46px;
        align-items: center;
        gap: 46px;
    }

    .table-body-item {
        width: 100%;
    }
}