
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-title {
    padding: 20px 0;
}

.header-title a {
    text-decoration: none;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    gap: 25px;
    border-bottom: 1px solid gray;
}

.table {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;

}

.footer {
    padding: 40px 0;
    text-align: center;
}

.footer p {
    padding: 5px 0;
}

.error {
    color: red;
}