
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.header-title {
    padding-top: 30px;
    padding-bottom: 10px;
}

.header-title a {
    text-decoration: none;
}

.header-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    gap: 50px;
    border-bottom: 1px solid gray;
}

.table {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
    gap: 5px;
}

.footer-menu ul {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.error {
    color: red;
}

.archive-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (max-width: 1200px) {
    body {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    body {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    body {
        max-width: none;
    }
    .header-menu ul {
        gap: 25px;
    }
}
